/*
 * Citizen
 *
 * SkinStyles for file warnings
 * Module: mediawiki.filewarning
 * Version: 1.39.0
 *
 * Date: 2023-07-04
 */

.mediawiki-filewarning {
	.mediawiki-filewarning-header {
		color: var( --color-base--emphasized );
	}

	.mediawiki-filewarning-main {
		color: var( --color-base );
	}

	.mediawiki-filewarning-footer {
		color: var( --color-base--subtle );
	}
}

.mime-type {
	&.has-warning {
		color: var( --color-text-warning );
	}
}
