/*
 * Citizen - Html Form Styles
 * https://starcitizen.tools
*/

.mw-htmlform-ooui {
	.mw-htmlform-matrix {
		tbody tr:nth-child( even ) td {
			background-color: var( --color-surface-2 );
		}

		tbody tr:hover td {
			background-color: var( --background-color-quiet--hover );
		}
	}

	.oo-ui-fieldLayout-header {
		.oo-ui-buttonElement-button {
			.oo-ui-iconElement-icon {
				filter: var( --filter-invert );
			}
		}
	}
}
