/*
 * Citizen - SRF Formats Tagcloud
 * https://starcitizen.tools
*/

@import '../../../../resources/variables.less';

.skin-citizen-dark {
	.srf-tagcloud ul {
		border: 4px solid @dark-bg-50;
		background-color: @dark-bg-0;
	}

	.srf-tagcloud-sphere canvas#gradient {
		border: 1px solid @dark-bg-0;
	}
}
