.mw-portal {
	h3 {
		padding: 10px var( --padding-page );
		margin: 0;
		color: var( --color-base--subtle );
		font-size: inherit;
		font-weight: normal;
		letter-spacing: 0.75px;
	}

	// Hide selected item
	.selected {
		.mixin-screen-reader-text;
	}

	// Hide empty menu
	&-empty {
		display: none !important;
	}
}
