.page-actions {
	display: flex;
	margin-left: -12px; // To align with page padding
	font-size: @ui-menu-text;
	font-weight: 450;

	&-more {
		display: block;
		width: var( --size-icon );
		height: var( --size-icon );
		padding: 8px;
		cursor: pointer;
		transition: @transition-opacity-quick;

		&-menu {
			position: absolute;
			z-index: -1;
			right: 0;
			left: 0;
			border: 1px solid var( --border-color-base--lighter );
			margin-top: 5px;
			opacity: 0;
			pointer-events: none;
			transition: @transition-opacity-quick, @transition-box-shadow-quick;
			.menu-container;
			.boxshadow(4);

			a {
				.menu-item-link;
				justify-content: space-between;
				padding: 10px var( --padding-page );

				&:after {
					.resource-loader-list-icon;
					margin-left: @icon-padding;
					opacity: var( --opacity-icon-base );
				}

				&:hover {
					.menu-item-link-hover;

					&:after {
						opacity: var( --opacity-icon-base--hover );
					}
				}

				&:active {
					.menu-item-link-active;

					&:after {
						opacity: var( --opacity-icon-base--active );
					}
				}
			}
		}

		&:before {
			display: block;
			width: var( --size-icon );
			height: var( --size-icon );
			background-size: var( --size-icon );
			content: '';
			opacity: var( --opacity-icon-base );
		}

		&:hover {
			.page-actions-more-menu {
				z-index: 5;
				opacity: 1;
				pointer-events: auto;
			}

			&:before {
				opacity: var( --opacity-icon-base--hover );
			}
		}

		&:active {
			&:before {
				opacity: var( --opacity-icon-base--active );
			}
		}
	}

	ul {
		margin: 0;
		list-style: none;
	}

	li {
		margin: 0;
	}
}

#p-views {
	ul {
		display: flex;
	}

	li > a {
		display: flex;
		align-items: center;
		padding: 8px 12px;
		margin-right: 4px;
		border-radius: @border-radius-medium;
		color: var( --color-base );
		font-size: 0;
		transition: @transition-background-quick, @transition-color-quick;

		&:after {
			width: var( --size-icon );
			height: var( --size-icon );
			order: -1; // Move icon before the text
			background-position: center;
			background-repeat: no-repeat;
			background-size: var( --size-icon );
			content: '';
			opacity: var( --opacity-icon-base );
			transition: @transition-opacity-quick;
		}

		&:hover {
			background-color: var( --background-color-quiet--hover );
			color: var( --color-base--emphasized );

			&:after {
				opacity: var( --opacity-icon-base--hover );
			}
		}

		&:active {
			background-color: var( --background-color-quiet--active );
			color: var( --color-base--subtle );

			&:after {
				opacity: var( --opacity-icon-base--active );
			}
		}

		span {
			.mixin-screen-reader-text;
		}
	}

	// VE styles shouldn't be core but it is just a few lines :/
	#ca-ve-edit {
		order: 98; // Before source edit

		> a {
			padding-right: 16px;
			// Merge button with source edit
			margin-right: -12px;
		}
	}

	#ca-edit {
		order: 99; // Align to last
	}

	#ca-edit,
	#ca-ve-edit {
		> a {
			background-color: var( --color-primary );
			color: #fff;

			&:after {
				filter: invert( 1 );
				// white icon
				opacity: 1;
			}

			&:hover {
				background-color: var( --color-primary--hover );
			}

			&:active {
				background-color: var( --color-primary--active );
			}
		}
	}
}

.skin-citizen-dark {
	.page-actions {
		&-more {
			&:before {
				filter: invert( 1 );
			}
		}

		li > a:after {
			filter: invert( 1 );
		}
	}
}

@media ( min-width: @width-breakpoint-tablet ) {
	.page-actions-more-menu {
		position: relative;
		right: unset;
		left: -172px;
		width: 200px;
	}

	#p-views {
		li > a {
			font-size: @ui-menu-text;

			&:after {
				margin-right: 8px;
			}
		}
	}
}
