.mw-sidebar-sitename {
	position: fixed;
	bottom: @margin-side;
	left: @margin-side;
	font-size: 11px;
	-webkit-font-smoothing: subpixel-antialiased;
	transition: @transition-opacity-quick;
	visibility: visible;

	.mw-wiki-title {
		display: block;
		width: 100px;
		letter-spacing: 4px;
	}
}

a.mw-wiki-title {
	color: var( --color-base--subtle );
}

@media ( max-width: @width-breakpoint-desktop-wide ) {
	.mw-sidebar-sitename {
		z-index: -1; // remove link
		opacity: 0; // hide visual
	}
}
