.mw-theme-toggle {
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
	opacity: 0.4;
	width: 39px;
	height: 56px;
}

.skin-citizen-dark {
	.mw-theme-toggle {
		filter: invert(1);
	}
}
