dist/
docs/
i18n/
node_modules/
vendor/
vitest.config.js

# ES6 files
resources/skins.citizen.scripts.search/typeahead-init.js
resources/skins.citizen.scripts.search/underscore.partial.js
resources/skins.citizen.scripts.search/wm-typeahead.js
