 {{!
	string html-citizen-bottombar-button-href URL of the button
	string html-citizen-bottombar-button-title Tooltip of the button
	string html-citizen-bottombar-button-text Text of the button
}}

<aside class="mw-bottombar">
	<nav class="mw-bottombar-buttons">
		<div class="citizen-ui-icon" id="citizen-ui-button">
			<a href="{{html-citizen-bottombar-button-href}}" title="{{html-citizen-bottombar-button-title}}" rel="noopener noreferrer" target="_blank">
				{{html-citizen-bottombar-button-text}}
			</a>
		</div>
	</nav>
</aside>