  
{{!
	@typedef object footerItem
	@prop string id of list item element
	@prop string html of list item
	@prop footerItem[] items

	@typedef object footerRow
	@prop string className of list element
	@prop string id of list element
	@prop footerItem[] array-items

	string|null html-userlangattributes a string of attribute HTML
	footerRow[] array-footer-rows iterable list of footer rows
}}
<footer id="footer" role="contentinfo" {{{html-userlangattributes}}}>
	<div class="last-modified-bar"></div>
	<div class="footer-content">
		{{#array-footer-rows}}
		<ul id="{{id}}" class="{{className}}">
			{{#array-items}}
			<li id="{{id}}">{{{html}}}</li>
			{{/array-items}}
		</ul>
		{{/array-footer-rows}}
	</div>
</footer>