 {{!
	string msg-citizen-header-menu-toggle tooltip for menu toggle
	string msg-citizen-header-search-toggle tooltip for search toggle
}}
<header class="mw-header">
	<div id="mw-header-background"></div>
	{{#data-drawer}}{{>Drawer}}{{/data-drawer}}
	<div class="mw-header-tools">
		{{#data-extratools}}{{>Menu}}{{/data-extratools}}
		{{#data-search-box}}{{>SearchBox}}{{/data-search-box}}
	</div>
</header>