 {{!
	string msg-citizen-header-menu-toggle tooltip for menu toggle
	string msg-citizen-header-search-toggle tooltip for search toggle
}}
<header class="mw-header">
	{{#data-drawer}}{{>Drawer}}{{/data-drawer}}
	<div class="mw-header-tools">
		{{#data-theme-toggle}}{{>ThemeToggle}}{{/data-theme-toggle}}
		{{#data-extratools}}{{>Menu}}{{/data-extratools}}
		{{#data-personal-menu}}{{>PersonalMenu}}{{/data-personal-menu}}
		{{#data-search-box}}{{>SearchBox}}{{/data-search-box}}
	</div>
</header>
