{{!
	string html-headelement a string of attribute HTML that begins with `<html>` and ends with
		`</head>` and contains `meta` tags and ResourceLoader internals.
	string html-printtail HTML to render at the end of the page contained necessary script tags for
		ResourceLoader terminated with `</body></html>`.
}}

{{{html-headelement}}}
{{! html-unported outputs everything else }}
{{{html-unported}}}
{{{html-printtail}}}
</body>
</html>