{{!
	LogoDefinition logo
	string html-mainpage-attributes link to the main page
	string msg-sitesubtitle the contents of the sitesubtitle message key
}}
{{#data-logos}}
<a {{{html-mainpage-attributes}}} class="mw-logo">
	{{! alt is provided for valid HTML but given aria-hidden not needed. }}
	<img class="mw-logo-icon" src="{{!
		Pick an icon based on this order: SVG > Icon > 1x
		Need a better way to indent the syntax below
		}}{{#svg}}{{.}}{{/svg}}{{!
		}}{{^svg}}{{!
			}}{{#icon}}{{.}}{{/icon}}{{!
			}}{{^icon}}{{!
				}}{{#1x}}{{.}}{{/1x}}{{!
			}}{{/icon}}{{!
		}}{{/svg}}"{{!
		}}alt="" aria-hidden="true" height="50" width="50">
	<span class="mw-logo-container">
		{{>Wordmark}}
	</span>
</a>
{{/data-logos}}