{{!

}}
<div class="mw-header-menu-drawer">
	<div class="mw-header-menu-drawer-container">
		<div class="mw-header-banner" role="banner">
			{{#data-logo}}{{>Logo}}{{/data-logo}}
		</div>
		<div class="mw-nav-links">
			{{#data-portals-first}}{{>Portal}}{{/data-portals-first}}
			{{#array-portals-rest}}{{>Portal}}{{/array-portals-rest}}
		</div>
		<div class="mw-user-links">
		{{#data-personal-menu}}{{>Portal}}{{/data-personal-menu}}
		</div>
	</div>
</div>