{{!

}}
<nav class="mw-portal{{#class}}{{.}}{{/class}}" id="{{id}}" aria-labelledby="{{label-id}}" {{{html-tooltip}}}
	 {{{html-userlangattributes}}}>
	<h3 id="{{label-id}}"{{#label-class}} class="{{.}}"{{/label-class}}>{{label}}</h3>
	<ul>{{{html-items}}}</ul>
	{{{html-after-portal}}}
</nav>