{{!
	string form-action action attribute of the search form
	string page-title page title of the search page
	string msg-search search text label
	string html-input raw HTML containing the input box of the search box
	string html-button-search raw HTML containing the button of the search box
}}
<form action="{{form-action}}" role="search" id="searchform">
	<input type="hidden" name="title" value="{{page-title}}">
	<label class="screen-reader-text" for="searchInput">{{msg-search}}</label>
	{{{html-input}}}
	{{{html-button-search}}}
</form>