{{!

}}
<form action="{{form-action}}" role="search" id="search-form">
	<input type="hidden" name="title" value="{{page-title}}">
	<label class="screen-reader-text" for="search-input">{{msg-search}}</label>
	{{{html-input}}}
	{{{html-button-search}}}
</form>