{{!
	
}}
{{#data-drawer-sitestats}}
<div id="mw-drawer-sitestats">
	{{#array-drawer-sitestats-item}}
	<div class="sitestats-item" id="sitestats-{{id}}">
		<div class="sitestats-item-value">{{value}}</div>
		<div class="sitestats-item-label">{{label}}</div>
	</div>
	{{/array-drawer-sitestats-item}}
</div>
{{/data-drawer-sitestats}}