{{!
	string html-headelement a string of attribute HTML that begins with `<html>` and ends with
		`</head>` and contains `meta` tags and ResourceLoader internals.
	string html-printtail HTML to render at the end of the page contained necessary script tags for
		ResourceLoader terminated with `</body></html>`.
	string|null html-sitenotice the contents of a banner defined in MediaWiki:Sitenotice.
		Also used by CentralNotice to inject banners.
	string page-langcode the content language of the article. Assumed to be escaped HTML.
	string html-newtalk
	string html-indicators raw HTML containing wiki-defined badges such as "good article",
		"featured article". An empty string if none are defined.
	string page-langcode the content language of the article. Assumed to be escaped HTML.
	string html-title
	string msg-tagline
	string html-prebodyhtml
	string html-subtitle
	string html-undelete
	string html-bodycontent
	string html-printfooter
	string html-catlinks
	string html-debuglog
	string html-dataAfterContent
	object data-footer for footer template partial. see Footer.mustache for documentation.
	string html-printtail HTML to render at the end of the page contained necessary script tags for
		ResourceLoader terminated with `</body></html>`.
}}

{{{html-headelement}}}
{{{html-unported-header}}}
<main id="content" class="mw-body">
	{{#html-sitenotice}}
		<div id="siteNotice" class="mw-body-content">{{{.}}}</div>
	{{/html-sitenotice}}
	{{#html-newtalk}}<div class="usermessage">{{{html-newtalk}}}</div>{{/html-newtalk}}
	{{{html-indicators}}}
	{{{html-unported-pagetools}}}
	<h1 id="firstHeading" class="firstHeading" lang="{{page-langcode}}">{{{html-title}}}</h1>
	<div id="siteSub">{{msg-tagline}}</div>
	{{{html-prebodyhtml}}}
	<div id="bodyContent" class="mw-body-content">
		<div id="contentSub"{{{html-userlangattributes}}}>{{{html-subtitle}}}</div>
		{{#html-undelete}}<div id="contentSub2">{{{html-undelete}}}</div>{{/html-undelete}}
		{{{html-bodycontent}}}
		{{#html-printfooter}}
			<div class="printfooter">{{{html-printfooter}}}</div>
		{{/html-printfooter}}
		{{{html-unported-pagelinks}}}
		{{{html-catlinks}}}
		{{{html-dataAfterContent}}}
		{{{html-debuglog}}}
	</div>
</main>
{{#data-footer}}{{>Footer}}{{/data-footer}}
<div class="mw-sidebar-sitename" role="banner">
	<a class="mw-wiki-title" href="{{{main-page-href}}}" {{{main-page-tooltip}}}>{{{msg-sitetitle}}}</a>
</div>
{{{html-unported}}}
{{{html-printtail}}}