{{!
	
}}
{{#wordmark}}
<img class="mw-logo-wordmark" alt="{{msg-sitetitle}}"
	src="{{src}}" width="{{width}}" height="{{height}}">
{{/wordmark}}
{{^wordmark}}
<span class="mw-logo-wordmark">{{msg-sitetitle}}</span>
{{/wordmark}}