/*
 * Citizen
 *
 * SkinStyles for MediaWiki core
 * Module: mediawiki.action.edit.styles.less
 * Version: REL1_35 fce3c51
 *
 * Date: 2022-05-02
*/

// Needed the specificity
.skin-citizen {
	.mw-edit {
		// Relative font size
		&font {
			&-monospace,
			&-sans-serif,
			&-serif {
				font-size: 0.8125rem; // 13px
			}
		}

		&form {
			.editOptions {
				border-color: var( --border-color-base );
				background-color: var( --color-surface-2 );
				color: var( --color-base );
			}
		}
	}
}
