/*
 * Citizen - Flow UI
 * https://starcitizen.tools
*/

@import '../../../resources/variables.less';

.skin-citizen-dark {
	/**
 	mw.flow.ui.NavigationWidget.less
   */
	.flow-ui-navigationWidget {
		border-bottom: 1px solid @dark-bg-30;

		&-affixed {
			background: @dark-bg-0;
		}
	}

	/**
 	mw.flow.ui.EditorWidget.less
   */
	.flow-ui-editorWidget > .flow-ui-editorWidget-editor,
	.flow-ui-editorWidget > .flow-ui-editorWidget-editor:not( .oo-ui-pendingElement-pending ) {
		border-color: @dark-bg-30;
		background-color: @dark-bg-10;
	}

	/**
 	mw.flow.ui.TopicMenuSelectWidget.less
   */
	.flow-ui-topicMenuSelectWidget {
		&-locked,
		&-locked:hover {
			color: @dark-text-70;
		}
		border-color: @dark-bg-30;

		&::-webkit-scrollbar-thumb {
			border: 2px solid @dark-bg-0;
		}

		&::-webkit-scrollbar-track {
			background-color: @dark-bg-0;
		}
	}

	/**
	mw.flow.ui.TopicTitleWidget.less
	 */
	.flow-ui-topicTitleWidget {
		&-termsLabel {
			color: @dark-text-80;
		}
	}
}
