/*
 * Citizen
 *
 * SkinStyles for Extension:Spoilers
 * Module: ext.Spoilers
*/

.spoilers {
	margin-top: 16px;
}

.spoilers-body {
	color: inherit;
	position: relative;
	margin: var( --space-md ) 0;
	border-color: var( --border-color-base );
	background-color: var( --color-surface-1 );
	border-radius: var( --border-radius-medium );
}
