/*
 * Citizen
 *
 * SkinStyles for Extension:Spoilers
 * Module: ext.Spoilers
*/

.spoilers {
	margin-top: var( --space-md );
}

.spoilers-body {
	position: relative;
	margin: var( --space-md ) 0;
	color: inherit;
	background-color: var( --color-surface-1 );
	border-color: var( --border-color-base );
	border-radius: var( --border-radius-medium );
}
