/*
 * Citizen
 *
 * SkinStyles for Extension:VisualEditor
 * Module: ext.visualEditor.progressBarWidget
 * Version: REL1_39 65d89c9
 *
 * Date: 2023-02-06
*/

.ve-init-mw-progressBarWidget {
	border-color: var( --color-primary );
	background-color: var( --color-surface-1 );
	box-shadow: none;
}

.ve-init-mw-progressBarWidget-bar {
	background-color: var( --color-primary );
}
