/*
 * Citizen
 *
 * SkinStyles for Extension:VisualEditor
 * Module: ext.visualEditor.mwsave
 * Version: REL1_43
*/

/* ve.ui.MWSaveDialog.less */
.ve-ui-mwSaveDialog {
	&-summary {
		background-color: transparent;
	}

	&-license {
		font-size: var( --font-size-x-small );
		line-height: var( --line-height-xx-small );
	}
}
