/*
 * Citizen
 *
 * SkinStyles for Extension:VisualEditor
 * Module: ext.visualEditor.mwformatting
 * Version: REL1_39 65d89c9
 *
 * Date: 2023-02-06
*/

// Sync with Citizen font styles
.oo-ui-menuToolGroup-tools .oo-ui-tool-name {
	&-paragraph .oo-ui-tool-title {
		font-size: 1rem;
	}

	&-heading1,
	&-heading2,
	&-heading3,
	&-heading4,
	&-heading5,
	&-heading6 {
		.oo-ui-tool-title {
			font-weight: var( --font-weight-semi-bold );
			color: var( --color-emphasized );
		}
	}

	&-heading1 .oo-ui-tool-title {
		font-size: var( --font-size-xxx-large );
	}

	&-heading2 .oo-ui-tool-title {
		font-size: var( --font-size-xx-large );
	}

	&-heading3 .oo-ui-tool-title {
		font-size: var( --font-size-x-large );
	}

	&-heading4 .oo-ui-tool-title {
		font-size: var( --font-size-large );
	}

	&-heading5 .oo-ui-tool-title {
		font-size: var( --font-size-medium );
	}

	&-heading6 .oo-ui-tool-title {
		font-size: var( --font-size-medium );
	}

	&-preformatted .oo-ui-tool-title {
		font-family: var( --font-family-monospace );
		color: var( --color-emphasized );
	}

	&-blockquote .oo-ui-tool-title {
		font-style: italic;
		color: var( --color-subtle );
		text-indent: var( --space-md );
	}
}
