/*
 * Citizen
 *
 * SkinStyles for Extension:VisualEditor
 * Module: ext.visualEditor.desktopArticleTarget.init
 * Version: REL1_39 65d89c9
 *
 * Date: 2023-02-06
*/

@import '../../../resources/variables.less';

.ve-activated {
	/*
	 * Hide various unnessecary elements when VE is active
	 * - Edit buttons (as you can switch them in VE)
	 * - ToC button (does nothing in VE)
	*/
	#ca-ve-edit,
	#ca-edit,
	.citizen-toc__buttonCheckbox {
		display: none;
	}

	/*
	 * In case the sticky header not hidden
	*/
	.citizen-page-header--sticky {
		.mw-body-header {
			position: unset;
			margin-top: var( --header-size );
			box-shadow: none;

			&::before {
				position: relative;
				display: none;
			}

			.citizen-jumptotop {
				position: relative;
				display: none;
			}
		}
	}
}

.ve-activated .ve-init-mw-desktopArticleTarget-originalContent {
	padding-top: ~'calc( 2 * var( --toolbar-size ) )';

	@media ( max-width: @max-width-breakpoint-tablet ) {
		padding-top: var( --toolbar-size );
	}
}

.ve-init-mw-desktopArticleTarget-toolbarPlaceholder {
	&-bar {
		border-bottom-color: var( --border-color-base );
		box-shadow: none;
	}

	&-floating {
		.ve-init-mw-desktopArticleTarget-toolbarPlaceholder-bar {
			background: var( --color-surface-0 );
		}
	}
}

// Reset .oo-ui-widget 14px font size hack
.ve-ui-surface.oo-ui-widget {
	font-size: 1rem;
}
