/*
 * Citizen - Visual Editor Styles
 * https://starcitizen.tools
*/

@import '../../../resources/variables.less';

.ve-activated {
	.mw-header {
		background-color: @header-background-color-light;
	}

	#mw-header-background {
		box-shadow: none;
	}

	.mw-sidebar-sitename {
		margin-top: 42px;
	}

	.mw-body {
		z-index: 20; // Higher than footer
	}

	#page-tools {
		z-index: 1; // Fix collision
		pointer-events: auto;
		opacity: 1;
	}

	#mw-bottombar {
		display: none;
	}
}

.ve-ui {
	&-overlay {
		font-family: @fonts;

		&-global {
			z-index: 12; // Higher than header
		}

		&-surface {
			&-placeholder,
			.ve-ce-documentNode {
				padding: 0;
			}
		}
	}
}

// Fix weird compressed text bug
.ve-init-mw-tempWikitextEditorWidget {
	width: 100% !important;
}

.ve-init-mw-desktopArticleTarget {
	&-toolbar {
		margin: -20px -20px 20px -20px !important; // Bypass @media screen styles
	}

	.CodeMirror {
		padding: 0;
		line-height: @content-line-height; // Lining up syntax highlighter

		&-code * {
			line-height: @content-line-height; // Lining up syntax highlighter
		}
	}

	.ve-ui-mwWikitextSurface .ve-ce-paragraphNode {
		line-height: @content-line-height; // Lining up syntax highlighter
	}
}

// Make toolbar more smaller screen friendly
// Well at least I did by best
@media ( max-width: 800px ) {
	.ve-init-mw-desktopArticleTarget {
		&-toolbar {
			// Hide some dropdown tools in smaller screen
			// format - Paragraph
			// strcture - List bullet
			// insert - Insert
			.ve-test-toolbar {
				&-format,
				&-structure,
				&-insert {
					display: none;
				}
			}

			// Hide some button tools in smaller screen
			// link - Link
			// specialCharacter - Special character
			// help - Help
			// notices - Notices
			.oo-ui-tool-name {
				&-link,
				&-specialCharacter {
					display: none !important;
				}
			}

			// Hide help, notices, and menu button
			.ve-ui-targetToolbar {
				.oo-ui-toolbar-actions {
					.oo-ui-toolGroup {
						&:not( :last-child ) {
							display: none;
						}
					}
				}
			}

			// Shorten save button
			// Use CSS magic to create an icon
			// Will change if I figure out a way to load the icon only for VE
			.ve-ui-toolbar-saveButton {
				> .oo-ui-buttonElement-button {
					padding: 0 !important;
					width: 60px !important;
					height: 42px !important;

					&:before {
						top: 12px;
						transform: rotate( -45deg );
					}

					&:after {
						bottom: 12px;
						transform: rotate( 45deg );
					}

					&:before,
					&:after {
						content: '';
						position: absolute;
						left: 30px;
						display: block;
						width: 2px;
						height: 11px;
						background: #fff;
					}
				}

				.oo-ui-labelElement-label {
					display: none !important;
				}
			}
		}
	}
}

@media ( prefers-color-scheme: dark ) {
	.ve-activated {
		.mw-header {
			background-color: @header-background-color-dark;
		}
	}

	.ve-init-mw-desktopArticleTarget .CodeMirror {
		color: @dark-text-90;
	}
}
