/*
 * Citizen
 *
 * SkinStyles for Extension:ReplaceText
 * Module: ext.ReplaceTextStyles
 * Version: REL1_39 af4840a
 *
 * Date: 2023-01-03
*/

.ext-replacetext-searchmatch {
	color: var( --color-base--emphasized );
	font-weight: var( --font-weight-semibold );
}

.ext-replacetext-searchoptions {
	border: 1px solid var( --border-color-base );
	background-color: var( --color-surface-2 );

	.ext-replacetext-divider {
		border-bottom: 1px solid var( --border-color-base );
	}
}
