// Font-face stylesheet

// Directory of hosted font
@font-directory: 'fonts/';

@font-face {
	font-family: 'Roboto';
	src: local( 'Roboto' ), local( 'Roboto-Regular' ), url( '@{font-directory}Roboto-Regular.woff2' ) format( 'woff2' ), url( '@{font-directory}Roboto-Regular.woff' ) format( 'woff' );
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: local( 'Roboto Bold' ), local( 'Roboto-Bold' ), url( '@{font-directory}Roboto-Bold.woff2' ) format( 'woff2' ), url( '@{font-directory}Roboto-Bold.woff' ) format( 'woff' );
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: local( 'Roboto Italic' ), local( 'Roboto-Italic' ), url( '@{font-directory}Roboto-Italic.woff2' ) format( 'woff2' ), url( '@{font-directory}Roboto-Italic.woff' ) format( 'woff' );
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: local( 'Titillium Web Regular' ), local( 'TitilliumWeb-Regular' ), url( '@{font-directory}TitilliumWeb-Regular.woff2' ) format( 'woff2' ), url( '@{font-directory}TitilliumWeb-Regular.woff' ) format( 'woff' );
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: local( 'Titillium Web Bold' ), local( 'TitilliumWeb-Bold' ), url( '@{font-directory}TitilliumWeb-Bold.woff2' ) format( 'woff2' ), url( '@{font-directory}TitilliumWeb-Bold.woff' ) format( 'woff' );
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: local( 'Titillium Web Italic' ), local( 'TitilliumWeb-Italic' ), url( '@{font-directory}TitilliumWeb-Italic.woff2' ) format( 'woff2' ), url( '@{font-directory}TitilliumWeb-Italic.woff' ) format( 'woff' );
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
