@import 'variables.less';

/* Styles for print view and printing */

/* Hide some extra stuff from print view (some of the navigation is already hidden automatically, but not all) */
.mw-indicators,
.toctoggle,
.mw-side,
.noprint,
#p-logo,
#catlinks,
#p-namespaces,
#mw-bottombar,
.hatnote,
.mbox,
#footer-container-icons {
    display: none !important;
}

* {
    box-shadow: none !important;
}

html,
body {
    color: @base-20;
    font-family: @fonts;
}

p,
ul,
ol {
    margin: 0.8rem 0 0 0;
}

#toc {
    background: none;
    border: 0;
}

.mw-wiki-title,
.mw-body h1,
.mw-body-content h1,
.mw-body-content h2,
.mw-body-content h3,
.mw-body-content h4 {
    font-family: @fonts-secondary;
}

.mw-body .firstHeading {
    margin: 0;
    padding-top: 1.2rem;
    color: @base-10;
    overflow: inherit;
    line-height: 1.2;
}

.mw-body h1,
.mw-body-content h1 {
    font-size: @content-h1-size;
}

.mw-body-content {

    line-height: @content-line-height;
    font-size: @content-body-size;

    #contentSub,
    #contentSub2 {
        color: @base-30;
        font-size: @content-caption-size;
    }

    p {
        line-height: inherit;
        overflow-wrap: break-word;
    }

    h2 {
        font-size: @content-h2-size;
    }

    h3 {
        font-size: @content-h3-size;
    }

    h4 {
        font-size: @content-h4-size;
    }

    h5 {
        font-size: @content-h5-size;
    }

    h6 {
        font-size: @content-h6-size;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
        color: @color-content-header;
    }

    h1,
    h2 {
        margin-top: @content-margin-top * 3;
    }

    h3,
    h4,
    h5,
    h6,
    p+p {
        margin-top: @content-margin-top * 2;
    }

    h1+h2,
    h2+h3,
    h3+h4,
    h4+h5,
    h5+h6,
    p,
    table {
        margin-top: @content-margin-top;
    }

    ul {
        margin: @content-margin-top 0 0 @content-margin-top * 2;

        ul {
            margin: 0 0 0 @content-margin-top * 2;
        }
    }
}

.mw-body #siteSub {
    display: block;
    margin: .4rem 0 1.6rem;
    color: @base-30;
    font-size: @content-caption-size;
}

#mw-wrapper,
#footer-list {
    display: flex;
    flex-direction: column;
}

#mw-sidebar-sitename,
#lastmod {
    order: -1;
}

#footer {
    margin-top: 2rem;
}

.mw-wiki-title {
    color: @base-30;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.infobox {
    background: @base-100  !important;
}