/*
 * Citizen - Echo Styles
 * https://starcitizen.tools
*/

@import '../resources/variables.less';

.mw-echo-ui-overlay {
	z-index: 6;
}

// 500px or below will break the message box, +40px margin
@media only screen and (max-width: 540px) {
	.mw-echo-ui-notificationBadgeButtonPopupWidget-popup {
		left: 0!important;

		> .oo-ui-popupWidget-popup {
			width: auto!important;

			> .oo-ui-popupWidget-body {
				width: auto!important;
			}
		}

    > .oo-ui-popupWidget-anchor {
      display: none;
    }
	}
}
