/*
 * Citizen - Related Articles Styles
 * https://starcitizen.tools
*/

@import '../resources/variables.less';
@import '../resources/mixins.less';

.ext-related-articles-card-list {
	margin-top: 0;
	padding-top: @content-margin-top; // Give room for shadows and translate
	overflow: visible; // Show shadow

	.ext-related-articles-card {
		border: 0!important;
		border-radius: 0!important;
		.boxshadow(1);
		transition: @transition-transform-quick;

		&:hover {
			.boxshadow(2);
			transform:translateY(-2px);
		}

		> a:hover {
			box-shadow: none;
		}
	}
}
