/*
 * Citizen - ULS toggle Styles
 * https://starcitizen.tools
*/

@import '../resources/variables.less';

// Styles for ULS icon
#pt-uls a.uls-trigger {
    padding: 0;
    display: block;
    width: @icon-box-size + @icon-padding;
    height: @header-height;
    color: transparent; // Hide text
    opacity: 0.6; // Replicate color of other icons
    background-size: @icon-box-size;
    background-position: center;
    transition: @transition-opacity;

    &:hover,
    &:focus,
    &:active {
        opacity: 0.8;
    }
}

@media (prefers-color-scheme: dark) {
    #pt-uls a.uls-trigger {
        filter: invert(1);
    }
}