/*
 * Citizen - Tabber Styles
 * https://starcitizen.tools
*/

@import '../resources/variables.less';

.tabber {
    ul.tabbernav {
        padding: 0;
        border: 0;
        display: flex;
        overflow: auto;
        font-size: inherit;
        font-weight: 400;
        font-family: inherit;

        li {
            padding: 0;
            display: block;

            &:first-child a {
                padding-left: 0;
            }

            &.tabberactive a {
                color: @accent-50;
                pointer-events: none;
            }

            a {
                margin: 0;
                padding: @margin-side / 2;
                display: block;
                border: 0;
                background: 0 !important; // To override hover styles
                color: @base-50;

                &:hover {
                    border: 0;
                }
            }
        }
    }

    .tabbertab {
    	padding: 0;
    	border: 0;
    }
}

.mw-body-content #mw-content-text .mw-parser-output .tabber .tabbernav a:hover {
    color: @base-30  !important; // Override sigh
}