/*
 * Citizen
 *
 * SkinStyles for UploadWizard
 * Module: ext.uploadWizard.uploadCampaign.display
 * Version: REL1_39 0bb210a
 *
 * Date: 2024-08-12
*/

/* content.css */

#mw-campaign-title {
	border-bottom: 2px solid var( --border-color-base );
}

#mw-campaign-header,
#mw-campaign-view-all {
	background-color: var( --color-surface-2 );
	border: 1px solid var( --border-color-base );
}

/* list.css */

#mwe-upload-campaigns-pagination {
	border-top: 1px solid var( --border-color-base );
}
