/*
 * Citizen - Upload Wizard Campaign Display
 * https://starcitizen.tools
*/

@import '../../../resources/variables.less';

.skin-citizen-dark {
	#mw-campaign-title {
		border-bottom: 1px solid @dark-bg-30;
	}

	#mw-campaign-header {
		border: 1px solid @dark-bg-30;
		background-color: @dark-bg-10;
	}

	#mw-campaign-view-all {
		border: 1px solid @dark-bg-30;
		background-color: @dark-bg-10;
	}
}
