/*
 * Citizen - Inputs
 * https://starcitizen.tools
*/

@import '../../../resources/variables.less';

.skin-citizen-dark {
	.mw-ui-input {
		border: 1px solid @dark-bg-50;
		background-color: @dark-bg-0;
		box-shadow: inset 0 0 0 0.1em @dark-bg-0;
		color: @dark-text-100;

		&:hover {
			border-color: @dark-bg-60;
		}

		&:disabled {
			border-color: @dark-bg-20;
			color: @dark-text-70;
		}
	}
}
