/*
 * Citizen
 *
 * SkinStyles for Extension:Cite
 * Module: ext.cite.styles
 * Version: REL1_43
 *
 * Date: 2025-06-25
*/

@import '../../../resources/mixins.less';

.mw-references-wrap {
	margin-top: var( --spacing-medium );
	color: var( --color-base );
	.mixin-citizen-font-styles( 'small' );
}

.mw-body-content {
	.references {
		margin: 0 var( --spacing-xx-large );

		li {
			margin-bottom: var( --spacing-xx-small );
		}
	}
}
