/*
 * Citizen
 *
 * SkinStyles for Extension:VEForAll
 * Module: ext.veforall.main
 * Version: REL1_39 3460987
 *
 * Date: 2023-05-27
 */

.ve-area-wrapper {
	border-color: var( --border-color-base );
	background: var( --color-surface-1 );
}

.ve-area-wrapper .oo-ui-toolbar-bar {
	border-top-color: var( --border-color-base );
	background: var( --color-surface-2 );
}
