.ve-area-wrapper {
	border-color: var( --border-color-base );
	background: var( --color-surface-1 );
}

.ve-area-wrapper .oo-ui-toolbar-bar {
	border-top-color: var( --border-color-base );
	background: var( --color-surface-2 );
}