/*
 * Citizen - API Sandbox
 * https://starcitizen.tools
*/

@import '../../../resources/variables.less';

.mw-apisandbox-toolbar {
	border-bottom: var( --border-base );
	box-shadow: none;
	top: calc(3.25rem + 1px);
	transition-duration: var( --transition-duration-medium );
	transition-property: top;

	@media screen and ( max-width: @max-width-breakpoint-tablet ) {
		.citizen-feature-autohide-navigation-clientpref-1 .citizen-scroll--down & {
			top: 0;
		}
	}
}
