/*
 * Citizen - Login
 * https://starcitizen.tools
*/

@import '../../../resources/variables.less';

.skin-citizen-dark {
	#mw-createaccount-join {
		background-color: @dark-bg-10;
	}

	#mw-createaccount-join:hover {
		border-color: @accent-10;
		background-color: @dark-bg-0;
		box-shadow: none;
	}

	#mw-createaccount-join:active {
		border-color: @accent-90;
		background-color: @accent-10;
		color: @accent-90;
	}
}
