/*
 * Citizen - Login
 * https://starcitizen.tools
*/

@import '../../../resources/variables.less';

.skin-citizen-dark {
	#mw-createaccount-join {
		background-color: @dark-bg-10;
	}

	#mw-createaccount-join:hover {
		border-color: var( --background-color-primary--active );
		background-color: var( --color-surface-0 );
		box-shadow: none;
	}

	#mw-createaccount-join:active {
		border-color: var( --background-color-primary--hover );
		background-color: var( --background-color-primary--active );
		color: var( --background-color-primary--hover );
	}
}
