/*
 * Citizen
 *
 * SkinStyles for MediaWiki
 * Module: mediawiki.special
 * Version: REL1_39
 *
 * Date: 2024-02-26
*/

@import '../../../resources/variables.less';

/* Special:Version */
/* MediaWiki License */
#mw-version-license + .plainlinks {
	padding: var( --space-md );
	margin-top: var( --space-md );
	font-size: var( --font-size-small );
	color: var( --color-subtle );
	border: var( --border-width-base ) solid var( --border-color-base );
	border-radius: var( --border-radius-medium );

	> p {
		margin-top: 0;
	}
}

/* Installed software */
#sv-software {
	display: block;
	max-width: none;
	line-height: var( --line-height-xx-small );
	box-shadow: none;

	tbody {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var( --space-xs );

		@media ( min-width: @min-width-breakpoint-desktop ) {
			grid-template-columns: repeat( auto-fit, minmax( 320px, 1fr ) );
		}
	}

	tr {
		display: grid;
		place-content: center;
		padding: var( --space-sm ) var( --space-md );
		text-align: center;
		border: var( --border-width-base ) solid var( --border-color-base );
		border-radius: var( --border-radius-medium );

		&:first-child {
			display: none; // Hide table header
		}
	}

	td {
		padding: 0;
		border-top: 0;

		&:first-child {
			font-size: var( --font-size-large );
			font-weight: var( --font-weight-semi-bold );
		}
	}
}

.citizen-overflow-wrapper:has( #sv-software ) {
	max-width: none;
	box-shadow: none;
}

// Highlight Citizen skin
#mw-version-ext-skin-Citizen {
	background: var( --color-surface-2 );
}

.mw-version-ext-vcs-timestamp,
.mw-version-ext-vcs-version {
	color: var( --color-subtle );
}

.mw-version-ext-name,
.mw-version-library-name {
	font-weight: var( --font-weight-semi-bold );
}

.skin-theme-clientpref-night {
	#mw-allmessagestable tbody:hover td {
		background-color: var( --background-color-progressive-subtle );
	}

	.mw-protectedpages-unknown {
		color: var( --color-subtle );
	}
}
