/*
 * Citizen
 *
 * SkinStyles for Extension:SemanticMediaWiki
 * Module: ext.smw.suggester
 * Version: 5.0.2
 *
 * Date: 2025-06-12
*/

/* jquery/jquery.atwho.css */
.atwho-view {
	color: var( --color-base );
	background: var( --color-surface-1 );
	border: 0;
	border-radius: var( --border-radius-base );
	box-shadow: var( --box-shadow-large );
}

.atwho-view .atwho-header {
	color: var( --color-base );
	border-bottom-color: var( --border-color-base );
}

.atwho-view .atwho-header .small {
	color: var( --color-base );
}

.atwho-view .cur {
	color: var( --color-inverted-primary );
	background: var( --color-progressive );
}

.atwho-view strong {
	color: var( --color-emphasized );
}

.atwho-view .cur strong {
	color: var( --color-inverted-fixed );
}

.atwho-view ul li {
	border-bottom: 0;
}

.atwho-view small {
	color: var( --color-subtle );
}
