/*
 * Citizen
 *
 * SkinStyles for Extension:Translate
 * Module: ext.translate.quickedit
 * Version: MLEB 2021.07
 *
 * Date: 2021-07-29
*/

.mw-sp-translate-edit-fields a {
	color: var( --color-primary );
}

.mw-sp-translate-edit-fields fieldset {
	border-color: var( --border-color-base );
}

.mw-sp-translate-message-documentation {
	background-color: var( --border-color-base );
}

.mw-sp-translate-edit-definition {
	background-color: var( --background-color-primary--hover );
}
