.skin-citizen {
	.mw-tmh-player {
		.mw-tmh-play {
			background-position: center; // center play button
		}

		&-interstitial {
			background-color: var( --background-color-backdrop-light );
		}

		&-progress {
			position: relative;
			top: 50%;
			margin: 0 auto;
			background-color: var( --color-surface-1 );
			border-color: var( --border-color-subtle );
			border-radius: var( --border-radius-pill );

			&-bar {
				background-color: var( --color-progressive );
			}
		}
	}
}
