/*
 * Citizen
 *
 * SkinStyles for Extension:Scribunto
 * Module: ext.scribunto.edit
 * Version: REL1_39 1716fd6
 *
 * Date: 2023-05-22
 */

.mw-scribunto-console-fieldset, .mw-scribunto-input, .mw-scribunto-normalOutput, .mw-scribunto-print, .mw-scribunto-error, .mw-scribunto-propList, .mw-scribunto-message, .mw-scribunto-tabcomplete, .mw-scribunto-clear {
	background-color: var(--color-surface-0);
}

.mw-scribunto-console-fieldset {
	color: var(--color-base);
}

#mw-scribunto-input {
	background-color: var(--color-surface-3);
}

.mw-scribunto-input {
	color: var(--color-syntax-blue);
}
	
.mw-scribunto-normalOutput {
	color: var(--color-base);
}

.mw-scribunto-print {
	color: var(--color-syntax-brown);
}

.mw-scribunto-error, .mw-scribunto-clear {
	color: var(--color-syntax-red);
}

.mw-scribunto-propList, .mw-scribunto-message {
		color: var(--color-syntax-green);
}

.mw-scribunto-tabcomplete {
		color: var(--color-syntax-violet);
}