.citizen-footer {
	padding: var( --space-xxl ) var( --padding-page );
	clear: both;
	font-size: var( --font-size-small );
	color: var( --color-subtle );
	background-color: var( --color-surface-2 );
	border-top: var( --border-width-base ) solid var( --border-color-base );
	direction: ltr;
	contain: content;

	&__container {
		max-width: var( --width-layout--extended );
		margin-inline: auto;
	}

	&__pageinfo {
		display: flex;
		flex-flow: column wrap;

		&-item {
			display: flex;
			flex-direction: column;
			gap: var( --space-xs );
			padding: var( --space-xxs ) var( --space-md );
		}

		&-label {
			color: var( --color-subtle );
			letter-spacing: 0.05em;
		}
	}

	&__content,
	&__bottom {
		display: flex;
		flex-wrap: wrap;
		gap: var( --space-md );
		justify-content: space-between;

		a {
			font-weight: var( --font-weight-medium );
		}
	}

	&__content {
		padding: var( --space-md );
	}

	&__bottom {
		align-items: center;
		padding: 0 var( --space-md );
		margin-inline: auto;
	}

	&__siteinfo {
		display: flex;
		flex-direction: column;
		gap: var( --space-xs );
		max-width: 90ch;

		p {
			margin: 0;
			line-height: var( --line-height );
		}
	}

	a {
		font-weight: var( --font-weight-medium );
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
	}

	li {
		list-style: none;
	}
}

#footer {
	&-places {
		ul {
			display: flex;
			flex-direction: row;
			gap: var( --space-xs ) var( --space-md );
		}

		a {
			display: block;
			padding: var( --space-xs ) 0;
			border-radius: var( --border-radius-base );
		}
	}

	&-icons {
		display: flex;

		ul {
			gap: var( --space-xs );
		}

		li {
			display: flex; // Horizontally aligned with there are two icons in the same li
			gap: var( --space-xs ); // Sometimes there can be multiple icon under the same li
		}

		a {
			display: flex;
			align-items: center;
		}
	}
}

@media ( min-width: @min-width-breakpoint-desktop ) {
	.citizen-footer {
		margin-bottom: 0;
	}

	#footer-sitetitle {
		font-size: 2rem;
	}
}
