.citizen-page-footer {
	display: flex;
	flex-direction: column;
	grid-area: footer;
	gap: var( --spacing-xx-large );
	padding-top: var( --spacing-xx-large );
	margin-top: var( --spacing-xx-large );
	.mixin-citizen-font-styles( 'small' );
}

.page-info {
	display: flex;
	flex-wrap: wrap;
	gap: var( --spacing-xx-large );

	&__item {
		display: flex;
		flex-direction: column;
		gap: var( --spacing-xx-small );
	}

	&__label {
		color: var( --color-subtle );
		.mixin-citizen-font-styles( 'overline' );
	}
}
