.citizen-page-footer {
	display: flex;
	flex-direction: column;
	grid-area: footer;
	gap: var( --space-xl );
	padding-top: var( --space-md );
	margin-top: var( --space-md );
	line-height: var( --line-height-xx-small );
}
