/*
 * Citizen
 *
 * SkinStyles for Extension:UniversalLanguageSelector
 * Module: ext.uls.setlang
 * Version: MLEB 2021.12
 *
 * Date: 2022-05-17
*/

/* ext.uls.dialog */
.uls-dialog {
	background-color: var( --color-surface-1 );
	border: 0;
	box-shadow: var( --box-shadow-large );
}

.uls-overlay {
	background-color: var( --background-color-backdrop-light );
	opacity: 1;
}
