/*
 * Citizen
 *
 * SkinStyles for Extension:WikiEditor
 * Module: ext.wikiEditor
 * Version: REL1_39 02e1c70
 *
 * Date: 2023-06-03
*/

@import '../../../resources/mixins.less';

/* jquery.wikiEditor.less */
.wikiEditor-ui {
	.wikiEditor-ui-view {
		border: 0;
	}

	// Make into sticky header
	.wikiEditor-ui-top {
		.citizen-sticky-header;
	}

	.wikiEditor-ui-right {
		background: var( --color-surface-2 );
	}
}

.wikiEditor-ui-controls {
	background-color: var( --color-surface-0 );
}

.wikiEditor-ui-tabs {
	border-top-color: var( --border-color-base );
	border-left-color: var( --border-color-base );
	background-color: var( --color-surface-0 );

	div {
		border-right-color: var( --border-color-base );
		border-bottom-color: var( --border-color-base );
		background-color: var( --color-surface-2 );

		a {
			color: var( --color-primary );
		}

		&.current {
			border-bottom-color: var( --color-surface-0 );
			background-color: var( --color-surface-0 );

			a {
				color: var( --color-base );
			}
		}
	}
}

.wikiEditor-ui-buttons {
	border-top-color: var( --border-color-base );
	background-color: var( --color-surface-0 );
}

/* jquery.wikiEditor.toolbar.less */
.wikiEditor-ui-toolbar {
	background-color: var( --color-surface-0 );
	box-shadow: none;

	.group,
	.section-secondary .group {
		border-color: var( --border-color-base );
	}

	.tabs,
	.section-main,
	.section-secondary {
		min-height: 42px; /* Align with VE */
	}

	/* Expandable Sections */
	.sections {
		.section {
			border-top-color: var( --border-color-base );
		}
	}

	/* Top Level Containers */
	/* Tabs */
	.tabs {
		margin: 0 8px;

		span.tab {
			line-height: 42px; /* Align with VE */

			a {
				height: 42px; /* Align with VE */
				color: var( --color-base--emphasized );
				font-weight: var( --font-weight-medium );

				&::before {
					height: 100%; /* Align with VE */
					filter: var( --filter-invert );
					opacity: var( --opacity-icon-base );
				}

				&:hover {
					color: var( --color-primary--hover );
				}

				&:active {
					color: var( --color-primary--active );
				}
			}

			a:visited {
				color: var( --color-base--emphasized );
			}

			a.current,
			a.current:visited {
				border-bottom: 2px solid var( --color-primary );
				color: var( --color-primary );
			}
		}
	}

	/* Groups */
	.group {
		/* Toolbar */
		.label {
			height: 38px;
			margin-left: 16px;
			color: var( --color-base--subtle );
			font-size: 0.875rem;
			letter-spacing: 0.05em;
			line-height: 38px;
		}

		.tool-select {
			height: 42px;
			border-color: var( --border-color-base );
			background-color: var( --color-surface-0 );

			.label {
				height: 42px; /* Align with VE */
				color: var( --color-base--emphasized );
				font-size: inherit;
				font-weight: var( --font-weight-medium );
				letter-spacing: inherit;
				line-height: 42px; /* Align with VE */

				&:hover {
					background-color: var( --background-color-quiet--hover );
				}
			}

			.menu .options .option:hover {
				background-color: var( --background-color-quiet--hover );
			}

			.options {
				border-color: var( --border-color-base );
				background-color: var( --color-surface-0 );

				.option {
					color: var( --color-base--emphasized );

					&:hover {
						background-color: var( --background-color-primary--hover );
					}

					&[ rel='heading-2' ] {
						font-size: var( --font-size-h2 );
						font-weight: var( --font-weight-semibold );
					}

					&[ rel='heading-3' ] {
						font-size: var( --font-size-h3 );
						font-weight: var( --font-weight-semibold );
					}

					&[ rel='heading-4' ] {
						font-size: var( --font-size-h4 );
						font-weight: var( --font-weight-semibold );
					}

					&[ rel='heading-5' ] {
						font-size: var( --font-size-h5 );
						font-weight: var( --font-weight-semibold );
					}
				}
			}
		}
	}

	.group-search {
		border-left-color: var( --border-color-base );
	}

	/* Booklet */
	.booklet {
		> .index {
			.wikiEditor-character-highlighted {
				background-color: var( --background-color-quiet--hover );
				color: var( --color-base--emphasized );
			}

			> :hover {
				background-color: var( --background-color-quiet--hover );
			}

			> .current {
				background-color: var( --background-color-primary--hover );
				color: var( --color-primary );
			}
		}
	}

	/* Help Pages */
	.page-table {
		th {
			color: var( --color-base--subtle );
		}

		td {
			border-top-color: var( --border-color-base );
			color: var( --color-base--emphasized );
		}
	}

	/* Characters Pages */
	.page-characters {
		div {
			span {
				border-color: var( --border-color-base );
				color: var( --color-base );

				&:hover {
					border-color: var( --border-color-base );
					background-color: var( --background-color-quiet--hover );
				}

				// Added active state
				&:active {
					background-color: var( --background-color-quiet--active );
				}
			}

			.wikiEditor-character-highlighted {
				background-color: var( --background-color-primary--hover );
				color: var( --color-primary );
			}
		}
	}
}

.tool.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button {
	min-width: 42px; /* Align with VE */
	min-height: 42px; /* Align with VE */
	border-radius: var( --border-radius--small );

	> .oo-ui-iconElement-icon {
		left: 0.78571429em; /* Align with VE */
		opacity: var( --opacity-icon-base );
	}

	&:hover {
		background-color: var( --background-color-quiet--hover );

		> .oo-ui-iconElement-icon {
			opacity: var( --opacity-icon-base--hover );
		}
	}

	// Added active state
	&:active {
		background-color: var( --background-color-quiet--active );

		> .oo-ui-iconElement-icon {
			opacity: var( --opacity-icon-base--active );
		}
	}

	&.tool-active {
		background-color: var( --background-color-primary--hover );
	}
}

.ui-widget {
	table {
		td.wikieditor-toolbar-table-preview-wrapper {
			background: var( --color-surface-2 );
		}

		.wikieditor-toolbar-table-preview-frame {
			background: var( --color-surface-0 );
		}
	}
}

.wikiEditor-toolbar-dialog {
	.ui-dialog-content {
		padding: var( --space-md ) !important;
	}

	.ui-dialog-buttonpane {
		border-top-color: var( --border-color-base ) !important;
	}

	.wikieditor-toolbar-field-wrapper {
		/* Input field label */
		> label {
			color: var( --color-base--subtle );
			font-size: 0.8125rem;
			letter-spacing: 0.05em;

			~ input,
			~ select {
				margin-top: var( --space-xxs );
			}
		}

		/* Checkbox text */
		> input + label {
			margin-left: var( --space-xs );
			color: var( --color-base );
			font-size: inherit;
			letter-spacing: inherit;
		}
	}
}
