//
// Citizen - Footer Styles
// https://starcitizen.tools
//

.last-modified-bar {
	background: @color-footer-background-60;

	&-content {
		margin: 0 auto;
		padding: 12px @margin-side;
		width: 100%;
		max-width: @footer-width;
		display: flex;
		align-items: center;
	}

	&-icon {
		margin-right: @icon-padding;
		width: 20px;
		height: 20px;
		background-repeat: no-repeat;
		background-position: center;
		opacity: @opacity-icon;
	}

	&-text {
		a {
			margin-right: 5px;
		}
	}
}

#footer {
	z-index: 9; // High enough so it covers the floating UI
	clear: both;
	position: relative;
	direction: ltr;
	margin-top: @margin-side * 2;
	color: @color-footer-text;
	background: @color-footer-background-50;
	font-size: @ui-menu-text;
	line-height: @footer-line-height;

	a {
		color: @color-footer-link;

		&:hover,
		&:active,
		&:focus {
			color: @color-footer-link-active;
			text-decoration: none;
		}
	}

	li {
		list-style: none;
	}

	&-content {
		margin: @margin-side * 2.5 auto 0 auto;
		padding: 0 @margin-side;
		max-width: @footer-width;
		display: flex;
		flex-direction: column;

		> ul,
		> div {
			margin: @margin-side / 2 0;
		}
	}

	&-bottom {
		margin-top: @margin-side * 1.5;
		background-color: @color-footer-background-40;

		&-content {
			margin: 0 auto;
			padding: @margin-side / 2 @margin-side;
			max-width: @footer-width;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}
	}

	&-sitetitle {
		color: @base-90;
		font-size: 20px;
	}

	&-places {
		margin: 0 -@margin-side !important;
		display: flex;
		flex-wrap: wrap;

		li a {
			padding: @margin-side / 2 @margin-side;
			display: block;
		}
	}

	&-info {
		opacity: 0.5;
		font-size: 12px;

		li {
			margin: @margin-side / 2 0;
		}
	}

	&-tagline {
		padding: @margin-side / 2 0;
	}

	&-icons {
		margin: 0 -@margin-side / 2;
		display: flex;

		a {
			padding: @margin-side * 0.75 @margin-side / 2;
			height: 50px; // CSS hack to force SVG icon to appear
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0.5;
			transition: @transition-opacity;

			img {
				display: none; // Hack to hide original icons
			}

			&:before {
				content: '';
				.resource-loader-icon;
				display: block;
				background-size: contain;
			}

			&:hover {
				opacity: 0.7;
			}
		}
	}

	// Icon styles
	&-partofico a {
		width: 50px;
	}

	&-madebyico a {
		width: 50px;
	}

	&-gdprcomplianceico a {
		width: 50px;
	}

	&-monitoredbyico a {
		width: 95px;
		margin-bottom: -3px; //dirty fix
	}

	&-poweredbyico a {
		width: 95px;
	}

	&-copyrightico a {
		width: 110px;
	}
}
