//
// Citizen - Scrollbar Styles
// https://starcitizen.tools
//

* {
	scrollbar-width: thin;
	scrollbar-color: @base-70 transparent;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: @base-70;
	border: 4px solid transparent;
}
