//
// Citizen - Scrollbar Styles
// https://starcitizen.tools
//

body::-webkit-scrollbar {
    width: 11px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: @base-70 @base-80;
}

body::-webkit-scrollbar-track {
    background: @base-80;
}

body::-webkit-scrollbar-thumb {
    background-color: @base-70;
    border: 3px solid @base-80;
}