//
// Citizen - Wikitable Styles
// https://starcitizen.tools
//

table.wikitable {
	background-color: transparent;
	color: @base-20;
	border: 0;

	tr {
		vertical-align: top;

		th {
			color: @base-30;
			background-color: transparent;
			font-size: @content-caption-size;
			text-align: left;
		}

		td {
			font-size: @content-monospace-size;
		}

		th,
		td {
			padding: @margin-side / 2 @margin-side @margin-side / 2 0;
			border: 0;
			border-bottom: 1px solid @base-80;
		}

		&:hover {
			background-color: @base-90;
		}
	}
}

@media only screen and ( max-width: @screen2 ) {
	table.wikiatble {
		white-space: nowrap;
	}
}
