//
// Citizen - Wikitable Styles
// https://starcitizen.tools
//

table.wikitable {
  margin-top: @content-margin-top * 2!important;
  background-color: transparent;
  color: @base-20;
  border: 0;

  // TEMP solution to fix overflow
  display: block;
  max-width: 100vw;
  overflow: auto;

  tr {
    vertical-align: top;

    th {
      padding: @margin-side / 2 @margin-side @margin-side 0;
      border: 0;
      border-top: 1px solid currentColor;
      color: @base-30;
      background-color: transparent;
      font-size: @content-caption-size;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: left;
    }

    td {
      border: 0;
      border-bottom: 1px solid @base-80;
      padding: @margin-side / 2 @margin-side @margin-side / 2 0;
    }

    &:hover {
      background-color: @base-90;
    }
  }
}
