/*
 * Name: Noto Sans, Noto Serif, Noto Sans Mono
 * Version: c24f8fc
 * Link: https://github.com/notofonts/latin-greek-cyrillic
 * Axis: wdth, wght
*/

@import 'noto.less';

:root {
    --font-family-alt-base: 'Noto Sans';
    --font-family-alt-serif: 'Noto Serif';
    --font-family-alt-monospace: 'Noto Sans Mono';
}