/* stylelint-disable function-url-quotes */

/* [0] */
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 100 1000;
	src: url( 'fonts/NotoSans.woff2' ) format( 'woff2-variations' );
	font-display: swap;
}

/* [1] */
@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 100 1000;
	src: url( 'fonts/NotoSans-Italic.woff2' ) format( 'woff2-variations' );
	font-display: swap;
}

/* [2] */
@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 100 1000;
	src: url( 'fonts/NotoSerif.woff2' ) format( 'woff2-variations' );
	font-display: swap;
}

/* [3] */
@font-face {
	font-family: 'Noto Serif';
	font-style: italic;
	font-weight: 100 1000;
	src: url( 'fonts/NotoSerif-Italic.woff2') format( 'woff2-variations' );
	font-display: swap;
}

/* [4] */
@font-face {
	font-family: 'Noto Sans Mono';
	font-style: normal;
	font-weight: 100 1000;
	src: url( 'fonts/NotoSansMono.woff2' ) format( 'woff2-variations' );
	font-display: swap;
}