{{!
	string html-title-heading--formatted
	string msg-tagline
}}
<header class="mw-body-header">
	<div class="page-heading">
		<div class="firstHeading-container">
			{{{html-title-heading--formatted}}}
			{{>Indicators}}
		</div>
		<div id="siteSub">{{msg-tagline}}</div>
	</div>
	{{>PageTools}}
</header>