 {{!
	string msg-citizen-drawer-toggle The label used by the drawer button.
}}
<summary
	class="citizen-dropdown-summary" 
	title="{{msg-citizen-drawer-toggle}}"
	aria-details="citizen-drawer__card">
	<span class="citizen-ui-icon">
		<span></span>
		<span></span>
		<span></span>
	</span>
	<span>{{msg-citizen-drawer-toggle}}</span>
</summary>