{{!
	string msg-citizen-drawer-toggle The label used by the drawer button.
	string msg-sitetitle the contents of the sitesubtitle message key
}}
<div class="citizen-drawer citizen-header__item citizen-dropdown">
	<details class="citizen-dropdown-details">
		{{>Drawer__button}}
	</details>
	<div id="citizen-drawer__card" class="citizen-drawer__card citizen-menu__card">
		<div class="citizen-menu__card-backdrop"></div>
		<div class="citizen-menu__card-content">
			<header class="citizen-drawer__header">
				{{>Drawer__logo}}
				<div class="citizen-drawer__siteinfo">
					{{#data-site-stats}}{{>SiteStats}}{{/data-site-stats}}
					{{>Wordmark}}
				</div>
			</header>
			{{#data-main-menu}}
				{{>MainMenu}}
			{{/data-main-menu}}
		</div>
	</div>
</div>