{{!
	string msg-citizen-drawer-toggle The label used by the drawer button.
	string msg-sitetitle the contents of the sitesubtitle message key
}}
<div class="citizen-drawer citizen-header__item mw-checkbox-hack-container">
	<input 
		type="checkbox" 
		id="citizen-drawer__checkbox" 
		class="mw-checkbox-hack-checkbox"
		role="button"
		aria-labelledby="citizen-drawer__buttonCheckbox"
		aria-haspopup="true">
	{{! ID needed for a11y and checkbox hack }}
	<aside id="citizen-drawer__card" class="citizen-drawer__card mw-checkbox-hack-target">
		<header class="citizen-drawer__header">
			{{>Drawer__logo}}
			<div class="citizen-drawer__siteinfo">
				{{#data-sitestats}}{{>Drawer__siteStats}}{{/data-sitestats}}
				<div class="mw-logo-wordmark">{{msg-sitetitle}}</div>
			</div>
		</header>
		{{#data-portlets-sidebar}}
		<section class="citizen-drawer__menu">
			{{#data-portlets-first}}{{>Menu}}{{/data-portlets-first}}
			{{#array-portlets-rest}}{{>Menu}}{{/array-portlets-rest}}
		</section>
		{{/data-portlets-sidebar}}
	</aside>
	{{>Drawer__button}}
</div>