<div class="citizen-siteStats">
	{{#array-drawer-sitestats-item}}
	<div class="citizen-siteStats__item" id="citizen-siteStats__item--{{id}}" title="{{label}}">
		<span class="citizen-ui-icon mw-ui-icon-{{icon}} mw-ui-icon-wikimedia-{{icon}}"></span>
		{{value}}
	</div>
	{{/array-drawer-sitestats-item}}
</div>