 {{!
	string msg-citizen-drawer-toggle The label used by the drawer button.
}}
<div class="citizen-drawer__button citizen-header__button">
	<div class="citizen-drawer__buttonIcon citizen-header__buttonIcon">
		<div></div>
		<div></div>
		<div></div>
	</div>
	<label
		id="citizen-drawer__buttonCheckbox"
		class="mw-checkbox-hack-button citizen-header__buttonCheckbox"
		for="citizen-drawer__checkbox"
		title="{{msg-citizen-drawer-toggle}}"
		aria-hidden="true">
		<span>{{msg-citizen-drawer-toggle}}</span>
	</label>
</div>