 {{!
	@typedef object footerItem
	@prop string id of list item element
	@prop string html of list item
	@prop footerItem[] items

	@typedef object footerMenu
	@prop string id of list element
	@prop string|null className of list element
	@prop footerItem[] array-items

	footerMenu data-footer-places site links (privacy/about/disclaimer + Universal-hook additions)
	footerMenu data-footer-icons site footer icons (noprint)
	string msg-sitetitle
	string msg-citizen-footer-desc
	string msg-citizen-footer-tagline
}}

<footer class="mw-footer citizen-footer" {{{html-user-language-attributes}}}>
	<div class="citizen-footer__container">
		<section class="citizen-footer__content">
			<div class="citizen-footer__siteinfo">
				<div id="footer-sitetitle" class="citizen-footer__sitetitle mw-wiki-title">
					<img class="mw-logo-icon" src="{{>Logo_icon_src}}" alt="" aria-hidden="true" loading="lazy" height="48" width="48">
					{{>Wordmark}}
				</div>
				<p id="footer-desc" class="citizen-footer__desc">{{{msg-citizen-footer-desc}}}</p>
			</div>
			{{#data-footer-places}}{{>Footer__row}}{{/data-footer-places}}
		</section>
		<section class="citizen-footer__bottom">
			<div id="footer-tagline">{{{msg-citizen-footer-tagline}}}</div>
			{{#data-footer-icons}}{{>Footer__row}}{{/data-footer-icons}}
		</section>
	</div>
</footer>
