<div class="citizen-header__logo">
	<a href="{{link-mainpage}}" class="mw-logo citizen-header__button" title="{{msg-tooltip-p-logo}}">
		{{! alt is provided for valid HTML but given aria-hidden not needed. }}
		<img class="mw-logo-icon" src="{{>Logo_icon_src}}"{{!
			}} alt="" aria-hidden="true" height="32" width="32">
		{{#data-logos.icon-home}}{{>Icon}}{{/data-logos.icon-home}}
	</a>
</div>
