 {{!
 	string link-mainpage link to the main page
	string msg-citizen-drawer-toggle The label used by the drawer button.
	string html-citizen-jumptotop Jump to top title text
}}
<header class="mw-header citizen-header">
	{{#data-drawer}}{{>Drawer}}{{/data-drawer}}
	<div class="citizen-header__inner">
		<div class="citizen-header__start">
			<a href="{{link-mainpage}}" class="citizen-header__title citizen-header__title--site">{{>Wordmark}}</a>
			<a 
				href="#top"
				class="citizen-header__title citizen-header__title--page"
				title="{{html-citizen-jumptotop}}">
				<div>{{{html-title}}}</div>
			</a>
		</div>
		<div class="citizen-header__end">
			{{#data-notifications}}{{>Menu}}{{/data-notifications}}
			{{#data-personal-menu}}{{>PersonalMenu}}{{/data-personal-menu}}
		</div>
	</div>
	{{#data-search-box}}{{>Search}}{{/data-search-box}}
</header>
