 {{!
 	string link-mainpage link to the main page
	string msg-citizen-drawer-toggle The label used by the drawer button
}}
<header class="mw-header citizen-header">
	{{>Header__logo}}
	{{#data-search-box}}{{>Search}}{{/data-search-box}}
	{{>Drawer}}
	<div class="citizen-header__inner">
		<div class="citizen-header__start"></div>
		<div class="citizen-header__end">
			{{#data-portlets.data-notifications}}{{>Menu}}{{/data-portlets.data-notifications}}
			{{>UserMenu}}
		</div>
	</div>
</header>
