 {{!
	string msg-citizen-header-menu-toggle tooltip for menu toggle
	string msg-citizen-header-search-toggle tooltip for search toggle
}}
<header class="mw-header">
	{{#data-drawer}}{{>Drawer}}{{/data-drawer}}
	<div id="mw-header-siteinfo">
		<a id="header-sitetitle" class="mw-wiki-title" {{{html-mainpage-attributes}}}>{{>Wordmark}}</a>
		<a id="header-pagetitle" href="#top" title="{{msg-citizen-jumptotop}}">{{{html-title}}}</a>
	</div>
	<div id="mw-header-tools">
		{{#data-extratools}}{{>Menu}}{{/data-extratools}}
		{{#data-personal-menu}}{{>PersonalMenu}}{{/data-personal-menu}}
		{{#data-search-box}}{{>SearchBox}}{{/data-search-box}}
	</div>
</header>
