<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-hidden="true">
	<circle cx="8" cy="8" r="6" fill="none" stroke="currentcolor" stroke-width="2"/>
	<line class="citizen-icon-search__handle" x1="12.5" y1="12.5" x2="18" y2="18" stroke="currentcolor" stroke-width="2" stroke-linecap="round"/>
	<line class="citizen-icon-search__close" x1="3.6" y1="3.6" x2="16.4" y2="16.4" stroke="currentcolor" stroke-width="2" stroke-linecap="round"/>
	<line class="citizen-icon-search__close" x1="16.4" y1="3.6" x2="3.6" y2="16.4" stroke="currentcolor" stroke-width="2" stroke-linecap="round"/>
</svg>
