{{!
	LogoDefinition logo
	string html-mainpage-attributes link to the main page
	string msg-sitesubtitle the contents of the sitesubtitle message key
}}
{{#data-logos}}
<a {{{html-mainpage-attributes}}} class="mw-logo">
	{{! alt is provided for valid HTML but given aria-hidden not needed. }}
	<img class="mw-logo-icon" src="{{!
		Pick an icon based on this order: Icon > SVG > 1x
		Need a better way to indent the syntax below
		}}{{#icon}}{{.}}{{/icon}}{{!
		}}{{^icon}}{{!
			}}{{#svg}}{{.}}{{/svg}}{{!
			}}{{^svg}}{{!
				}}{{#1x}}{{.}}{{/1x}}{{!
			}}{{/svg}}{{!
		}}{{/icon}}"{{!
		}}alt="" aria-hidden="true" height="50" width="50">
	<span class="mw-logo-container">
		{{#wordmark}}
		<img class="mw-logo-wordmark" alt="{{msg-sitetitle}}"
			src="{{src}}" width="{{width}}" height="{{height}}">
		{{/wordmark}}
		{{^wordmark}}
		<span class="mw-logo-wordmark">{{msg-sitetitle}}</span>
		{{/wordmark}}
	</span>
</a>
{{/data-logos}}