<section id="citizen-main-menu" class="citizen-main-menu citizen-drawer__menu">
	{{#data-portlets-first}}{{>Menu}}{{/data-portlets-first}}
	{{#array-portlets-rest}}{{>Menu}}{{/array-portlets-rest}}
</section>