{{!
	object data-page-views
	object data-page-associated-pages
	object data-page-actions
}}
<div class="page-actions">
	{{#has-languages}}{{>PageTools__languages}}{{/has-languages}}
	{{#pagetools-visible}}
		{{#data-portlets.data-views}}{{>Menu}}{{/data-portlets.data-views}}
		{{#data-portlets.data-associated-pages}}{{>Menu}}{{/data-portlets.data-associated-pages}}
	{{/pagetools-visible}}
	{{#pagetools-overflow}}{{>PageTools__more}}{{/pagetools-overflow}}
</div>