<div class="page-actions-more page-actions__item citizen-dropdown">
	<details class="citizen-dropdown-details">
		<summary
			class="citizen-dropdown-summary" 
			title="{{msg-citizen-actions-more-toggle}}"
			aria-details="page-actions-more__card">
			<span class="citizen-ui-icon mw-ui-icon-wikimedia-ellipsis"></span>
			<span>{{msg-citizen-actions-more-toggle}}</span>
		</summary>
	</details>
	<aside id="page-actions-more__card" class="citizen-menu__card">
		<div class="citizen-menu__card-backdrop"></div>
		<div class="citizen-menu__card-content">
			{{#is-visible}}
					{{#data-portlets.data-actions}}{{>Menu}}{{/data-portlets.data-actions}}
			{{/is-visible}}
			{{#data-article-tools}}{{>Menu}}{{/data-article-tools}}
		</div>
	</aside>
</div>