<header class="mw-body-header citizen-page-header" id="citizen-page-header">
	<div class="citizen-page-header-backdrop"></div>
	<div class="citizen-page-header-inner">
		{{#data-page-heading}}{{>PageHeading}}{{/data-page-heading}}
		{{#data-page-tools}}{{>PageTools}}{{/data-page-tools}}
	</div>
</header>
<div id="citizen-page-header-sticky-placeholder"></div>
<div id="citizen-page-header-sticky-sentinel"></div>
