{{!
	
}}
<div class="citizen-page-sidebar">
	{{#data-content-sidebar}}
		{{#data-content-sidebar-lastmod}}{{>Menu}}{{/data-content-sidebar-lastmod}}
	{{/data-content-sidebar}}
	{{>TableOfContents}}
</div>