{{!
	object data-page-languages
	object data-page-variants
	bool is-uls-ready
}}
<div class="citizen-page-languages page-actions__item citizen-dropdown">
	<details class="citizen-dropdown-details">
		<summary
			class="citizen-dropdown-summary {{#is-uls-ready}}mw-interlanguage-selector{{/is-uls-ready}}" 
			title="{{msg-citizen-languages-toggle}}"
			aria-details="citizen-languages__card"
			data-counter-text="{{int-language-count}}">
			<span class="citizen-ui-icon mw-ui-icon-wikimedia-language"></span>
			<span>{{msg-citizen-languages-toggle}}</span>
		</summary>
	</details>
	<aside id="citizen-languages__card" class="citizen-menu__card">
		<div class="citizen-menu__card-backdrop"></div>
		<div class="citizen-menu__card-content">
			{{#data-portlets.data-languages}}{{>Menu}}{{/data-portlets.data-languages}}
			{{#data-portlets.data-variants}}{{>Menu}}{{/data-portlets.data-variants}}
		</div>
	</aside>
</div>