<div class="page-info">
    {{#array-items}}
    <section id="{{id}}" class="page-info__item">
        <div class="page-info__label">{{label}}</div>
        <div class="page-info__text">{{{html}}}</div>
    </section>
    {{/array-items}}
</div>
