{{!
	string form-action action attribute of the search form
	string page-title page title of the search page
	string msg-search search text label
	string html-input raw HTML containing the input box of the search box
	string html-random-href URL of Special:Random
	string msg-randompage tooltip message for random page button
}}
<div class="citizen-search citizen-header__item citizen-menu-checkbox-container">
	<input
		type="checkbox" 
		id="citizen-search__checkbox" 
		class="citizen-menu-checkbox-checkbox"
		role="button"
		aria-labelledby="citizen-search__buttonCheckbox"
		aria-haspopup="true">
	{{>Search__button}}
	<div role="search" class="citizen-search-box citizen-search__card citizen-menu-checkbox-target">
		<form action="{{form-action}}" class="citizen-search__form" id="searchform" autocomplete="off">
			<input type="hidden" name="title" value="{{page-title}}">
			<label for="searchInput">
				<span class="citizen-search__icon citizen-ui-icon mw-ui-icon-wikimedia-search"></span>
				<span class="screen-reader-text">{{msg-search}}</span>
			</label>
			{{{html-input}}}
			<a
				class="citizen-search__random citizen-search__formButton"
				href="{{html-random-href}}"
				title="{{msg-randompage}}">
				<span class="citizen-ui-icon mw-ui-icon-wikimedia-die"></span>
				<span class="screen-reader-text">{{msg-random}}</span>
			</a>
		</form>
	</div>
</div>
