{{!
	string msg-citizen-search-toggle-shortcut shortcut key message
	string msg-citizen-search-toggle tooltip message for search toggle
}}
<summary
	class="citizen-menu__dropdownButton" 
	title="{{msg-citizen-search-toggle}} {{msg-citizen-search-toggle-shortcut}}">
	<span class="citizen-ui-icon">
		<span></span>
		<span></span>
		<span></span>
	</span>
	<span>{{msg-citizen-search-toggle}}</span>
</summary>

