<div class="citizen-search__footer">
	<div class="citizen-search__footer-start">{{msg-citizen-search-footer}}</div>
	<div class="citizen-search__footer-end">
		{{#array-keyboard-hint}}{{>KeyboardHint}}{{/array-keyboard-hint}}
	</div>
</div>
