<div class="citizen-share-dropdown citizen-header__item citizen-dropdown">
	<details id="citizen-share-details" class="citizen-dropdown-details">
		<summary
			id="citizen-share"
			class="citizen-share citizen-dropdown-summary citizen-cdx-button--size-large cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--weight-quiet cdx-button--icon-only"
			title="{{msg-citizen-share}}"
			aria-details="citizen-share-dropdown__card"
		>
			{{>Icon__share}}
			<span>{{msg-citizen-share}}</span>
		</summary>
	</details>
	<div id="citizen-share-dropdown__card" class="citizen-menu__card">
		<div class="citizen-menu__card-content">
			<div id="citizen-share-content" class="citizen-share"></div>
		</div>
	</div>
</div>