<button
	id="citizen-share"
	class="citizen-share citizen-button citizen-dropdown-summary"
	title="{{msg-citizen-share}}"
>
	<span class="citizen-ui-icon mw-ui-icon-wikimedia-share"></span>
	<span>{{msg-citizen-share}}</span>
</button>