{{!
	
}}
{{#data-drawer-sitestats}}
<div id="mw-drawer-sitestats">
	{{#array-drawer-sitestats-item}}
	<div class="sitestats-item" id="sitestats-{{id}}" title="{{label}}">{{value}}</div>
	{{/array-drawer-sitestats-item}}
</div>
{{/data-drawer-sitestats}}