{{!
	string|null html-site-notice the contents of a banner defined in MediaWiki:Sitenotice.
		Also used by CentralNotice to inject banners into Vector.
	string html-subtitle
	string html-undelete-link
	string html-user-message
	string html-body-content--formatted
	string html-categories
	string html-after-content
	object data-footer for footer template partial. see Footer.mustache for documentation.
}}

{{>Header}}
<div class="citizen-page-container">
	<div id="siteNotice">{{{html-site-notice}}}</div>
	<main class="mw-body {{#toc-enabled}}citizen-toc-enabled{{/toc-enabled}}" id="content">
		<div class="citizen-body-container">
		{{>ContentHeader}}
		<div id="bodyContent" class="citizen-body" aria-labelledby="firstHeading">
			<div id="contentSub"{{{html-user-language-attributes}}}>{{{html-subtitle}}}</div>
			{{#html-undelete-link}}<div id="contentSub2">{{{.}}}</div>{{/html-undelete-link}}
			{{{html-user-message}}}
			{{{html-body-content--formatted}}}
		</div>
		{{#toc-enabled}}{{>TableOfContents}}{{/toc-enabled}}
		{{>ContentFooter}}
		</div>
	</main>
	{{{html-after-content}}}
	{{#data-footer}}{{>Footer}}{{/data-footer}}
</div>
