{{#data-toc}}
<div class="citizen-toc">
	<nav id="mw-panel-toc" class="citizen-toc__card" role="navigation" aria-labelledby="mw-panel-toc-label">
		<a class="citizen-toc__top citizen-toc__link" title="{{html-citizen-jumptotop}}" href="#top">
			<div class="citizen-toc__text">{{msg-citizen-jumptotop}}</div>
		</a>
		<div id="mw-panel-toc-label" class="citizen-toc__header">{{msg-toc}}</div>
		<ul class="citizen-toc__contents" id="mw-panel-toc-list">
			{{#array-sections}}
			{{>TableOfContents__line}}
			{{/array-sections}}
		</ul>
	</nav>
</div>
{{/data-toc}}