<li id="toc-{{anchor}}"
	class="citizen-toc-list-item citizen-toc-level-{{toclevel}}">
	<a class="citizen-toc-link" href="#{{linkAnchor}}" role="button">
		<div class="citizen-toc-indicator"></div>
		<div class="citizen-toc-content">
			<div class="citizen-toc-text">
				<span class="citizen-toc-numb">{{number}}</span>
				<span class="citizen-toc-heading">{{{line}}}</span>
			</div>
			{{#html-summary}}<div class="citizen-toc-summary">{{{.}}}</div>{{/html-summary}}
		</div>
	</a>
	{{#is-top-level-section}}{{#is-parent-section}}
		<button aria-controls="toc-{{anchor}}-sublist" class="citizen-toc-toggle">
			<span class="citizen-ui-icon mw-ui-icon-wikimedia-collapse"></span>
			<span>{{{citizen-button-label}}}</span>
		</button>
	{{/is-parent-section}}{{/is-top-level-section}}
	<ul id="toc-{{anchor}}-sublist" class="citizen-toc-list">
		{{#array-sections}}
		{{>TableOfContents__line}}
		{{/array-sections}}
	</ul>
</li>
