<div class="citizen-toc-contents" id="mw-panel-toc-list">
	<div class="citizen-toc-indicator"></div>
	<ul class="citizen-toc-list">
		{{#array-sections}}
		{{>TableOfContents__line}}
		{{/array-sections}}
	</ul>
</div>