{{!
	string msg-citizen-theme-toggle-shortcut message with shortcut key for search toggle
}}
<button
	role="button"
	id="theme-toggle"
	class="mw-theme-toggle"
	title="{{msg-citizen-theme-toggle-shortcut}}">X</button>

