{{!
	
}}
{{#data-logos}}
{{#wordmark}}
<img class="mw-logo-wordmark" alt="{{msg-sitetitle}}"
	src="{{src}}" width="{{width}}" height="{{height}}">
{{/wordmark}}
{{^wordmark}}
<div class="mw-logo-wordmark">{{msg-sitetitle}}</div>
{{/wordmark}}
{{/data-logos}}