/*
 * Citizen
 *
 * SkinStyles for Extension:AccountInfo
 * Module: ext.AccountInfo.special
 * Version: REL1_39 (e6637b2)
 *
 * Date: 2023-11-30
*/

body {
	font: 0.9em sans-serif;
}

h1 {
	margin-bottom: 0;
	font-size: 2em;
	font-weight: bold;
	border-bottom: none;
}

p {
	width: 100%;
	padding: 0;
	margin: 0;
	background: transparent;
	border-radius: 0;
}

#mw-content-text p {
	width: 70%;
	padding: 10px;
	margin-bottom: 20px;
	background: var( --color-surface-2 );
	border-radius: 3px;
}

table {
	width: 70%;
	border-collapse: collapse;
}

table thead th {
	padding-bottom: 5px;
	padding-left: 14px;
	margin-bottom: 10px;
	font-size: 0.7em;
	font-weight: bold;
	color: var( --color-base--emphasized );
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	cursor: help;
	background: var( --color-surface-2 );
	border-bottom: 1px solid var( --color-base--subtle );
}

table tr td {
	padding: 5px;
	font-size: 0.9em;
	vertical-align: top;
	background: var( --color-surface-3 );
}

table tr td:nth-child( 2 ) {
	font: 1em monospace;
}

table tr td:nth-child( 4 ) {
	font-family: monospace;
}

table tr.mw-accountinfo-current {
	background: transparent;
}

table tr.mw-accountinfo-current td:first-child {
	color: var( --color-base--emphasized );
	background: var( --color-text-success );
}
