/*
 * Citizen
 *
 * SkinStyles for Extension:CommentStreams
 * Module: ext.CommentStreams
 * Version: REL1_39 f75ff3b
 *
 * Date: 2023-06-02
 */

.cs {
	&-comments {
		font-family: var( --font-family-base );
	}

	&-edit-box {
		background-color: var( --color-surface-1 );
		border: var( --border-width-base ) solid var( --border-color-base );
	}

	&-comment {
		&-title {
			color: var( --color-emphasized );
		}

		&-details {
			color: var( --color-subtle );
		}

		&-header {
			.cs-collapsed & {
				background-color: var( --color-surface-2 );
			}

			.cs-expanded & {
				background-color: rgba( 51, 102, 204, 0.1 );
			}

			.cs-reply-comment > & {
				background-color: var( --color-surface-1 );
				border-top: var( --border-width-base ) solid var( --border-color-base );
			}
		}
	}
}
