/*
 * Citizen
 *
 * SkinStyles for Extension:PortableInfobox
 * Module: ext.PortableInfobox.styles
 * Version: 0.6 16a77dc
 *
 * Date: 2022-04-15
*/

@import '../../../resources/variables.less';
@import '../../../resources/mixins.less';

:root {
	--pi-background: var( --background-color-framed );
	--pi-border-color: var( --border-color-base );
	--pi-secondary-background: transparent;
	--pi-width: 400px;
	--pi-item-spacing: 15px 10px 0;
}

/* Reset */
.pi-smart-data-label:not( :first-child ),
.pi-smart-data-value:not( :first-child ) {
	border-left: 0;
}

.portable-infobox {
	/* In case if tooltips go out of boundary */
	overflow: visible;
	/* @noflip */
	margin-left: 1.4rem;
	border-radius: var( --border-radius--medium );
	font-size: 0.875rem;
	.boxshadow( 2 );

	.citizen-body & p {
		margin: 0;
	}
}

.portable-infobox > .pi-image:first-child {
	border-radius: var( --border-radius--medium ) var( --border-radius--medium ) 0 0;
}

.portable-infobox .pi {
	&-image {
		overflow: hidden;

		.image {
			img {
				display: block;
				width: 100%;
				background: var( --background-color-quiet--hover );

				/* Neutral background for all transprent SVG */
				&[ src$='.svg' ] {
					background: #eaecf0;
				}
			}

			&:hover img {
				transform: scale( 1.1 );
			}
		}
	}

	&-title {
		padding: 0 20px;
		margin-top: 20px;
		margin-bottom: 5px;
		color: var( --color-base--emphasized );
		font-size: 1.4rem;
		line-height: 1.4;
	}

	&-header {
		margin-left: 10px;
		color: var( --color-base--emphasized );
		font-size: 1rem;
	}

	&-group {
		padding-bottom: 15px;
		border-bottom: 1px solid var( --pi-border-color );
	}

	&-horizontal-group {
		margin-top: 15px;
	}

	&-smart-group {
		border-bottom: 0;
		text-align: left;
	}

	&-panel {
		padding-bottom: 15px;
		margin-top: 15px;
	}

	&-group,
	&-panel {
		.pi-item {
			border-bottom: 0;
		}
	}

	&-data-label {
		padding: 0 10px;
		margin: 10px 10px 0;
		color: var( --color-base--subtle );
		font-size: 0.8125rem;
		font-weight: normal;
		letter-spacing: 0.75px;
	}

	&-data-value {
		padding: 0 10px;
		padding-top: 0;
		margin: 0 10px;
		font-weight: bold;
	}

	/* Infobox tabber */
	&-panel-scroll-wrapper {
		margin: 0 10px;
	}

	&-section-navigation,
	&-media-collection-tabs {
		justify-content: flex-start;
		box-shadow: inset 0 -1px 0 0 var( --border-color-base--darker );
	}

	&-section-navigation .pi-section-tab,
	&-media-collection .pi-tab-link {
		padding: 5px 12px;
		margin: 0;
		color: var( --color-base--subtle );
		font-weight: 500;

		&.pi-section-active,
		&.current {
			box-shadow: inset 0 -2px 0 0 var( --color-primary );
			color: var( --color-primary );
		}

		&:hover {
			box-shadow: inset 0 -2px 0 0 var( --color-primary--hover );
			color: var( --color-primary--hover );
		}
	}
}
