/*
 * Citizen - SRF Filtered Distance Filter
 * https://starcitizen.tools
*/

@import '../../../../resources/variables.less';

.skin-theme-clientpref-night {
	.filtered-filters .filtered-distance {
		border: var( --border-width-base ) solid @dark-bg-50;

		.filtered-distance-readout {
			color: var( --color-emphasized );
		}

		.filtered-distance-slider {
			background: @dark-bg-10;
			border: var( --border-width-base ) solid @dark-bg-50;
		}
	}
}
