/*
 * Citizen - SRF Filtered Distance Filter
 * https://starcitizen.tools
*/

@import '../../../../resources/variables.less';

.skin-citizen-dark {
	.filtered-filters .filtered-distance {
		border: 1px solid @dark-bg-50;

		.filtered-distance-readout {
			color: @dark-text-100;
		}

		.filtered-distance-slider {
			border: 1px solid @dark-bg-50;
			background: @dark-bg-10;
		}
	}
}
