/*
 * Citizen
 *
 * Module: mediawiki.skinning.content.tables
 * Version: REL1_39
 *
 * Date: 2022-11-14
*/

.mw_metadata,
.mw-datatable,
.wikitable {
	margin: var( --space-md ) auto;
	border-collapse: collapse;

	tbody {
		background-color: #f8f9fa;
		border: 0.5px solid var( --border-color-base );
	}

	caption {
		padding-right: var( --space-sm );
		padding-left: var( --space-sm );
		font-size: 1.125rem;
		font-weight: var( --font-weight-semibold );
		color: var( --color-base--emphasized );
		text-align: center;
	}

	th {
		font-weight: var( --font-weight-semibold );
		color: var( --color-base );
		text-align: start;
		letter-spacing: 0.05em;
	}

	> tr > th,
	> * > tr > th {
		text-align: center;
		background-color: #eaecf0;
	}

	> tr > th,
	> tr > td,
	> * > tr > th,
	> * > tr > td {
		padding: 0.2em 0.4em;
		border: 0.5px solid var( --border-color-base );
	}

	td {
		font-size: 1rem;
	}

	th,
	td {
		padding: var( --space-xs ) var( --space-sm );
	}
}

.mw-json {
	display: block;
}
