/*
 * Citizen
 *
 * Module: mediawiki.skinning.content.thumbnails-screen
 * Version: REL1_39
 *
 * Date: 2023-07-23
 */

.thumbinner {
	> a {
		display: block;
		border-radius: var( --border-radius--small );

		&.image {
			max-width: inherit;
			margin-right: 1px;
			// Counter the weird hardcoded 2px width added by core
			margin-left: 1px;

			img,
			source {
				max-width: inherit;
				height: auto;
			}
		}

		&::before {
			display: none;
		}

		// Broken file styles
		&:not( .image ) {
			padding: var( --space-sm );
			border: 1px solid var( --border-color-interactive );

			&:hover {
				color: #fff;
				background-color: var( --color-primary--hover );
			}

			&:active {
				color: #fff;
				background-color: var( --color-primary--active );
			}

			&.new {
				border-style: dashed;

				&:hover {
					background-color: var( --color-destructive--hover );
				}

				&:active {
					background-color: var( --color-destructive--active );
				}
			}
		}
	}
}
