/*
 * Citizen
 *
 * Module: mediawiki.skinning.i18n-all-lists-margins
 * Version: REL1_39
 *
 * Date: 2024-06-18
*/

/* Correct directionality when page dir is different from site/user dir */
/* @noflip */
.mw-content-ltr ul,
.mw-content-rtl .mw-content-ltr ul {
	margin-right: 0;
	margin-left: var( --space-xxl );
}

/* @noflip */
.mw-content-rtl ul,
.mw-content-ltr .mw-content-rtl ul {
	margin-right: var( --space-xxl );
	margin-left: 0;
}

/* @noflip */
.mw-content-ltr ol,
.mw-content-rtl .mw-content-ltr ol {
	margin-right: 0;
	margin-left: var( --space-xxl );
}

/* @noflip */
.mw-content-rtl ol,
.mw-content-ltr .mw-content-rtl ol {
	margin-right: var( --space-xxl );
	margin-left: 0;
}

/* @noflip */
.mw-content-ltr dd,
.mw-content-rtl .mw-content-ltr dd {
	margin-right: 0;
	margin-left: var( --space-lg );
}

/* @noflip */
.mw-content-rtl dd,
.mw-content-ltr .mw-content-rtl dd {
	margin-right: var( --space-lg );
	margin-left: 0;
}
