/*
 * Citizen
 *
 * Module: mediawiki.skinning.interface-subtitle
 * Version: REL1_39
 *
 * Date: 2023-06-06
 */

#siteSub,
#contentSub,
#contentSub2 {
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: var( --font-size-x-small );
	line-height: var( --line-height-xxx-small );
	color: var( --color-subtle );
}

// Reduced spacing if both sub1 and 2 exists
#contentSub + #contentSub2 {
	margin-top: ~'calc( var( --space-xs ) * -1 )';
}

#citizen-tagline-user > span + span::before {
	margin: 0 var( --space-xxs );
	-webkit-user-select: none;
	user-select: none;
	content: '·';
}

span.subpages {
	display: block;
}
