/*
 * Citizen
 *
 * Module: mediawiki.skinning.interface-site-notice
 * Version: REL1_39
 *
 * Date: 2022-11-15
*/

#siteNotice {
	position: relative;
	text-align: center;
}

#localNotice {
	margin-bottom: var( --space-md );
}
