/*
 * Citizen
 *
 * Module: mediawiki.skinning.interface-message-box
 * Version: REL1_39
 *
 * Date: 2024-10-22
 */

/* Use same styles as message box */
.usermessage {
	padding: var( --space-sm ) var( --space-md );
	overflow: hidden;
	color: var( --color-emphasized );
	overflow-wrap: break-word;
	background-color: var( --background-color-warning-subtle );
	border: var( --border-width-base ) solid var( --border-color-base );
	border-radius: var( --border-radius-base );
}
