/*
 * Citizen - Echo Styles
 * https://starcitizen.tools
*/

@import '../../../resources/variables.less';

// Styles for echo badges
#pt-notifications {
	&-alert,
	&-notice {
		position: relative;
		margin: var( --margin-header-item ) 0;
		border-radius: var( --border-radius--small );

		.mw-echo-notifications-badge {
			top: 0;
			width: var( --size-icon );
			height: var( --size-icon );
			box-sizing: content-box;
			padding: var( --padding-header-icon );
			margin: 0;
			background-position: center;
			background-repeat: no-repeat;
			opacity: var( --opacity-icon-base );
			transition: @transition-opacity-quick, @transition-transform-quick;

			&:hover {
				opacity: var( --opacity-icon-base--hover ) !important; // override all styles
			}

			&:active {
				opacity: var( --opacity-icon-base--active ) !important;
			}

			// Badge tweaks
			&:after {
				background-color: var( --color-destructive );
				border-radius: 100px;
				font-size: 10px;
			}

			&.mw-echo-notifications-badge-all-read {
				opacity: var( --opacity-base--disabled );
			}
		}

		&:active {
			background-color: var( --background-color-quiet--active ) !important;
		}
	}

	// Rotate bell
	&-alert {
		.mw-echo-notifications-badge {
			&:hover,
			&:focus,
			&:active {
				transform: rotateZ( 20deg );
			}
		}
	}
}

.skin-citizen-dark {
	#pt-notifications {
		&-alert,
		&-notice {
			.mw-echo-notifications-badge {
				filter: invert( 1 ) hue-rotate( 180deg );
			}
		}
	}
}

@media screen and ( hover: hover ) {
	#pt-notifications {
		&-alert,
		&-notice {
			&:hover {
				background-color: var( --background-color-quiet--hover );
			}
		}
	}
}
