{{!
	string msg-citizen-search-fulltext The label on the fulltext search in the typeahead.
	string msg-citizen-search-toggle Search toggle label
}}

<ol id="searchform-suggestions" class="citizen-typeahead" role="listbox">
	{{! Empty state }}
	<li class="citizen-typeahead__placeholder citizen-typeahead__placeholder--noQuery">
		<div class="citizen-typeahead__content">
			<picture class="citizen-typeahead__thumbnail">
				<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+DQoJPHBhdGggZmlsbD0iIzM2YyIgZD0iTTcuNSAxM2MzLjA0IDAgNS41LTIuNDYgNS41LTUuNVMxMC41NCAyIDcuNSAyIDIgNC40NiAyIDcuNSA0LjQ2IDEzIDcuNSAxM3ptNC41NS40NkE3LjQzMiA3LjQzMiAwIDAgMSA3LjUgMTVDMy4zNiAxNSAwIDExLjY0IDAgNy41UzMuMzYgMCA3LjUgMEMxMS42NCAwIDE1IDMuMzYgMTUgNy41YzAgMS43MS0uNTcgMy4yOS0xLjU0IDQuNTVsNi40OSA2LjQ5LTEuNDEgMS40MS02LjQ5LTYuNDl6Ii8+DQoJPHBhdGggZmlsbD0iIzM2YyIgZD0iTTQgNWg3djFINHptMCAyaDd2MUg0em0wIDJoNS40NDR2MUg0eiIvPg0KPC9zdmc+DQo="/>
			</picture>
			<div class="citizen-typeahead__text">
				<div class="citizen-typeahead__title">{{msg-searchsuggest-search}}</div>
				<div class="citizen-typeahead__description">{{msg-citizen-search-fulltext-empty}}</div>
			</div>
		</div>
	</li>
	{{! Template }}
	<template id="citizen-typeahead-template">
		<li role="option" class="citizen-typeahead__item">
			<a href="" class="citizen-typeahead__content">
				<div class="citizen-typeahead__thumbnail"></div>
				<div class="citizen-typeahead__text">
					<div class="citizen-typeahead__header">
						<div class="citizen-typeahead__title"></div>
						<div class="citizen-typeahead__label"></div>
					</div>
					<div class="citizen-typeahead__description"></div>
				</div>
				<div class="citizen-typeahead__actions">
					<div class="citizen-typeahead__keyboard">↵</div>
				</div>
			</a>
		</li>
	</template>
</ol>