{{!
	string msg-citizen-search-fulltext The label on the fulltext search in the typeahead.
	string msg-citizen-search-toggle Search toggle label
}}

<ol id="searchform-suggestions" class="citizen-typeahead" role="listbox">
	{{! Template }}
	<template id="citizen-typeahead-template">
		<li class="citizen-typeahead__item">
			<a href="" class="citizen-typeahead__content">
				<div class="citizen-typeahead__thumbnail"></div>
				<div class="citizen-typeahead__text">
					<div class="citizen-typeahead__header">
						<div class="citizen-typeahead__title"></div>
						<div class="citizen-typeahead__label"></div>
					</div>
					<div class="citizen-typeahead__description"></div>
				</div>
				<div class="citizen-typeahead__actions">
					<div class="citizen-typeahead__keyboard">↵</div>
				</div>
			</a>
		</li>
	</template>
</ol>