/*
 * Citizen - CSS variables
 * https://starcitizen.tools
 */

@import '../../variables.less';

/**
 * Base theme
 */
:root {
	/* Size */
	--size-icon: @size-icon;
	--overflow-gradient-size: 2rem;
}

html {
	/* Size */
	--header-size: @header-size;
	--header-card-maxheight: 80vh;
	--width-layout: @width-layout;
	--width-layout--extended: ~'calc( var( --width-layout ) * 1.5 )';
	--width-toc: @width-toc;
	--toolbar-size: 2.5rem;

	/* Padding */
	--padding-page: @padding-page;
}

:lang( ja ),
:lang( ko ),
:lang( zh ) {
	/* CJK languages need increased line-height for readability */
	--line-height: 1.75;
}

@media ( min-width: @min-width-breakpoint-tablet ) {
	html {
		--padding-page: ~'calc( @{padding-page} * 1.5 )';
	}
}

@media ( min-width: @min-width-breakpoint-desktop ) {
	html {
		--padding-page: ~'calc( @{padding-page} * 2 )';
		--header-card-maxheight: ~'calc( 100vh - var( --space-sm ) * 2 )';
	}
}

@media ( prefers-contrast: more ) {
	:root {
		--font-weight-normal: 500;
	}
}

@media ( prefers-contrast: less ) {
	:root {
		--font-weight-normal: 300;
	}
}
