@media ( prefers-color-scheme: dark ) {
	html,
	body {
		background: @dark-bg-0;
		color: @dark-text-90;
	}

	::-webkit-scrollbar-thumb {
		background-color: @dark-bg-60;
	}

	* {
		scrollbar-color: @dark-bg-60 transparent;
	}

	pre,
	code,
	.mw-code {
		color: @dark-text-90;
		background-color: @dark-bg-10;
		border: 1px solid @dark-bg-20;
	}

	input,
	select,
	textarea {
		border: 1px solid @dark-bg-50;
		background: @dark-bg-40;
		color: @dark-text-80;
	}

	fieldset {
		color: @dark-text-90;
		border-color: @dark-bg-20;
	}

	legend {
		color: @dark-text-100;
	}

	a,
	a.external {
		color: @dark-color-link;
	}

	a.new {
		color: @dark-color-link-new !important;
	}

	#p-namespaces ul li a {
		background-color: @dark-bg-10;
		border-color: @dark-bg-20;

		&:hover {
			background-color: @dark-bg-20;
		}
	}

	.mw-body .firstHeading,
	.mw-body-content h1,
	.mw-body-content h2,
	.mw-body-content h3,
	.mw-body-content h4,
	.mw-body-content h5,
	.mw-body-content h6 {
		color: @dark-text-100;
	}

	.mw-body-content #contentSub,
	.mw-body-content #contentSub2,
	.mw-body #siteSub {
		color: @dark-text-80 !important;
	}

	.mw-editsection > a:before,
	#p-namespaces ul li a:after {
		filter: invert( 1 );
	}
}
