// Hide RSS icon
a.feedlink {
	background: none !important;
}

.screen-reader-text {
	.mixin-citizen-screen-reader-only;
}

/**
 * Utility legacy classes that are commonly used
 */
.center {
	width: 100%;
	text-align: center;
}

*.center * {
	margin-inline: auto;
}

.floatleft,
.floatright {
	margin: 0;
}

div.tleft,
div.tright {
	margin: var( --space-xs ) 0 var( --space-md ) 0;
}

@media ( min-width: @min-width-breakpoint-tablet ) {
	/* @noflip */
	div.tright,
	.floatright {
		float: right;
		clear: right;
		margin-left: var( --space-lg );
	}

	/* @noflip */
	div.tleft,
	.floatleft {
		float: left;
		clear: left;
		margin-right: var( --space-lg );
	}
}
