html {
	font-size: @html-font-size;
}

html,
body {
	font-family: @fonts;
	// font-smoothing: antialiased;
	// -webkit-font-smoothing: antialiased; /* Chrome, Safari */
	// -moz-osx-font-smoothing: grayscale; /* Firefox */
}

input {
	font-family: @fonts; // Override browser's default
}

pre,
code,
tt,
kbd,
samp,
.mw-code {
	font-family: @fonts-monospace;
	font-size: @content-monospace-size;
}

cite {
	font-style: inherit;
}

fieldset {
	font-size: @content-monospace-size;
}

legend {
	font-weight: bold;
}

blockquote {
	font-family: @fonts-serif;
	font-size: @content-quote-primary-size;
	font-style: italic;

	cite {
		font-family: @fonts;
		font-size: @content-quote-secondary-size;
		font-style: normal;
	}
}

dt {
	font-weight: bold;
}

sub,
sup {
	font-size: 80%;
}

figcaption,
.thumbcaption {
	font-size: @content-caption-size;
	font-style: italic;

	i {
		font-style: normal;
	}
}

#contentSub,
#contentSub2 {
	font-size: @content-caption-size;
}

#siteSub {
	font-size: @content-caption-size;
}

.mw-wiki-title {
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.thumbinner {
	.new {
		font-size: @content-caption-size;
	}
}

.error {
	font-size: unset;
	font-weight: normal;
}

.mw-body {
	& h1,
	&-content h1 {
		font-size: @content-h1-size;
	}

	&-content h1,
	&-content h2 {
		font-weight: bold;
		line-height: 1.2;
	}

	.firstHeading {
		line-height: 1.2;
	}

	&-content {
		font-size: @content-body-size;
		line-height: @content-line-height;

		h2 {
			font-size: @content-h2-size;
		}

		h3 {
			font-size: @content-h3-size;
		}

		h4 {
			font-size: @content-h4-size;
		}

		h5 {
			font-size: @content-h5-size;
		}

		h6 {
			font-size: @content-h6-size;
		}

		h3,
		h4,
		h5,
		h6 {
			font-weight: bold;
		}
	}
}

// External links
.mw-parser-output {
	.external {
		padding-right: 13px;
		background-image: url( images/external-link-ltr-icon.svg );
		background-position: center right;
		background-repeat: no-repeat;
	}
}

@media ( max-width: @screen0 ) {
	#mw-content-text {
		figcaption,
		.thumbcaption {
			text-align: center;
		}
	}
}
