table.wikitable {
	background-color: transparent;
	color: var( --wikitable-color );
	border: 0;
	border-collapse: collapse;

	caption {
		margin-top: @content-margin-top;
		text-align: left;
	}

	tr {
		vertical-align: top;

		th {
			color: var( --wikitable-tr-th-color );
			background-color: transparent;
			font-size: @content-caption-size;
			text-align: left;
		}

		td {
			font-size: @content-monospace-size;
		}

		th,
		td {
			padding: @margin-side / 2 @margin-side @margin-side / 2 0;
			border: 0;
			border-bottom: 1px solid var( --wikitable-tr-th-border-color );
		}

		&:hover {
			background-color: var( --wikitable-tr-hover-background-color );
		}
	}
}

@media ( max-width: @screen2 ) {
	table.wikiatble {
		white-space: nowrap;
	}
}
