{{!
	string msg-preferences
	string msg-theme-label
	string msg-prefs-citizen-theme-option-auto
	string msg-prefs-citizen-theme-option-light
	string msg-prefs-citizen-theme-option-dark
	string msg-prefs-citizen-fontsize-label
	string msg-prefs-citizen-pagewidth-label
	string msg-prefs-citizen-resetbutton-label
}}

<aside id="citizen-pref-panel" class="citizen-pref-panel">
	<header id="citizen-pref-header">{{msg-preferences}}</header>
	<div class="citizen-client-prefs" id="citizen-client-prefs"></div>
</aside>