/* stylelint-disable function-url-quotes */

/* [0] */
@font-face {
	font-family: 'Noto Sans Arabic';
	font-style: normal;
	font-weight: 100 1000;
	src: url( 'fonts/NotoSansArabic.woff2' ) format( 'woff2-variations' );
	font-display: swap;
}

/* [1] */
@font-face {
	font-family: 'Noto Naskh Arabic';
	font-style: normal;
	font-weight: 100 1000;
	src: url( 'fonts/NotoNaskhArabic.woff2' ) format( 'woff2-variations' );
	font-display: swap;
}
