/*
 * Citizen
 *
 * SkinStyles for Extension:RevisionSlider
 * Module: ext.RevisionSlider.lazyCss
 * Version: REL1_35 4c4e368
 *
 * Date: 2022-06-02
*/

.mw-revslider-container {
	border-color: var( --border-color-base );
}

.mw-revslider-slider-wrapper {
	border-top-color: var( --border-color-base );
}

.mw-revslider-spinner {
	.mw-revslider-bounce,
	&::before,
	&::after {
		background-color: var( --color-primary );
	}
}
