/*
 * Citizen
 *
 * SkinStyles for Extension:Cargo
 * Module: ext.cargo.main
 * Version: REL1_39 b4c6314
 *
 * Date: 2023-01-03
*/

span.cargoFieldName {
	color: var( --color-base--subtle );
}

table.cargoTable.noMerge tr:nth-child( odd ) {
	background: var( --color-surface-0 );
}

table.cargoTable.noMerge tr:nth-child( even ) {
	background: var( --color-surface-2 );
}

table.cargoTable.mergeSimilarCells td.odd {
	background: var( --color-surface-0 );
}

table.cargoTable.mergeSimilarCells td.even {
	background: var( --color-surface-2 );
}

table.cargoTable {
	font-size: 0.875rem;
}

table.cargoTable thead tr {
	border-bottom: 1px solid var( --border-color-base );
}

table.cargoTable tr + tr {
	border-top: 1px solid var( --border-color-base );
}

table.cargoTable th,
table.cargoTable td {
	/* Sync with wikitable */
	padding: var( --space-xs ) var( --space-sm );
}

table.cargoTable th {
	/* Sync with wikitable */
	color: var( --color-base--subtle );
	font-size: 0.8125rem;
	font-weight: var( --font-weight-normal );
	letter-spacing: 0.05em;
	text-align: start;
}

table.cargoTable td {
	/* Border handled by tr */
	border: 0;
}

span.searchmatch {
	color: var( --color-base--emphasized );
	font-weight: var( --font-weight-semibold );
}

div.cargoReplacementTableInfo {
	border-color: var( --border-color-base );
	background: var( --color-surface-3 );
}

.addButton,
.deleteButton {
	border-color: var( --border-color-base );
	/* BG color does not like filter */
	background-color: transparent;
}

.cargoQueryTooltipIcon,
.addButton,
.deleteButton {
	filter: var( --filter-invert );
}

div.specialCargoQuery-extraPane {
	border-color: var( --border-color-base );
	background: linear-gradient( transparent, var( --color-surface-2 ) 0.5em );
}

.ui-state-focus {
	background: var( --color-primary--active ) !important;
}

.ui-menu .ui-menu-item a {
	color: var( --color-base--emphasized );
	font-family: var( --font-family-base );
}
